flows.json
[{"id":"331e38c7.51bfc8","type":"tab","label":"Instruments","disabled":false,"info":""},{"id":"d1c0a1b2.1d74a","type":"tab","label":"Θέρμανση","disabled":false,"info":""},{"id":"34cd7755.0d6818","type":"tab","label":"Πότισμα","disabled":false,"info":""},{"id":"4c9ae3c9.90175c","type":"tab","label":"Εξαερισμός","disabled":false,"info":""},{"id":"59e2aa4.4d44054","type":"tab","label":"Σκίαση","disabled":false,"info":""},{"id":"ea4d9b1.ea28168","type":"tab","label":"Παράθυρο 1","disabled":false,"info":""},{"id":"4e25790b.307598","type":"tab","label":"Παράθυρο 2","disabled":false,"info":""},{"id":"256a421c.9f471e","type":"tab","label":"Lora","disabled":false,"info":""},{"id":"de437731.f74d98","type":"mqtt-broker","name":"local_mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"755cbda8.1bdf54","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Stavros1","default":"#4B7930","baseColor":"#58e30d","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#8bf551","value":"#58e30d","edited":true},"page-titlebar-backgroundColor":{"value":"#3fb003","edited":true},"page-backgroundColor":{"value":"#171717","edited":true},"page-sidebar-backgroundColor":{"value":"#454545","edited":true},"group-textColor":{"value":"#6fe232","edited":true},"group-borderColor":{"value":"#828282","edited":true},"group-backgroundColor":{"value":"#454545","edited":true},"widget-textColor":{"value":"#fcfdfc","edited":true},"widget-backgroundColor":{"value":"#5cd41c","edited":true},"widget-borderColor":{"value":"#494949","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":2,"py":2}}},{"id":"8936b6fb.637808","type":"ui_tab","name":"Γρήγορη εποπτεία","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f7daf752.7e4088","type":"ui_group","name":"Πίνακας οργάνων","tab":"8936b6fb.637808","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f3736f9.60f97a","type":"ui_group","name":"Θέρμανση","tab":"8936b6fb.637808","order":6,"disp":true,"width":"6","collapse":false},{"id":"5e3e7636.992428","type":"ui_group","name":"Πότισμα","tab":"8936b6fb.637808","order":5,"disp":true,"width":"6","collapse":false},{"id":"8b665ce3.e1f2b","type":"ui_tab","name":"Κατάσταση LoRa","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3c0cfcb2.6f9844","type":"ui_group","name":"Κατάσταση Κόμβου","tab":"8b665ce3.e1f2b","order":2,"disp":true,"width":"6","collapse":false},{"id":"63711e7c.fac1d","type":"ui_group","name":"Κατάσταση Πύλης","tab":"8b665ce3.e1f2b","order":1,"disp":true,"width":"6","collapse":false},{"id":"c3c86d2c.dd633","type":"ui_group","name":"Σκίαση","tab":"8936b6fb.637808","order":4,"disp":true,"width":"6","collapse":false},{"id":"a2666623.e40928","type":"ui_spacer","name":"spacer","group":"3c0cfcb2.6f9844","order":5,"width":"1","height":"3"},{"id":"f52cc8c7.3eb9e8","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":21,"width":"1","height":1},{"id":"e9c639cf.84faa8","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":24,"width":"1","height":1},{"id":"5e81eb87.168ea4","type":"ui_group","name":"Εξαερισμός","tab":"8936b6fb.637808","order":7,"disp":true,"width":"6","collapse":false},{"id":"3e4e98b2.9385f8","type":"ui_spacer","name":"spacer","group":"5e3e7636.992428","order":6,"width":1,"height":1},{"id":"1e1b13ad.fa1f5c","type":"ui_group","name":"Ρυθμίσεις κόμβου","tab":"8b665ce3.e1f2b","order":3,"disp":true,"width":"6","collapse":false},{"id":"dac59ba9.66c4b8","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":3,"width":"4","height":1},{"id":"be3b025.b677","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":5,"width":"3","height":1},{"id":"52543e8.06cdec","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":7,"width":"3","height":1},{"id":"a0a2beef.a6e09","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":10,"width":"2","height":1},{"id":"cd7884b1.94cd98","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":12,"width":"2","height":1},{"id":"b26b6108.b3a83","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":14,"width":1,"height":"2"},{"id":"40388688.8bfef8","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":16,"width":1,"height":"2"},{"id":"8424d61c.4718c8","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":17,"width":"2","height":1},{"id":"b2b88fb7.7b08b","type":"ui_spacer","name":"spacer","group":"1e1b13ad.fa1f5c","order":19,"width":"2","height":1},{"id":"f8531c26.60c54","type":"ui_spacer","name":"spacer","group":"63711e7c.fac1d","order":1,"width":1,"height":"3"},{"id":"52f2945.e5e5e6c","type":"ui_tab","name":"Γραφήματα ημέρας","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"49a2db88.5c99e4","type":"ui_group","name":"Θερμοκρασίες","tab":"52f2945.e5e5e6c","order":1,"disp":true,"width":"8","collapse":false},{"id":"5cc66a3d.2b4b54","type":"ui_group","name":"Ηλιακή ακτινοβολία","tab":"52f2945.e5e5e6c","order":2,"disp":true,"width":"8","collapse":false},{"id":"e4713c1a.f46f7","type":"ui_group","name":"Εσωτερική υγρασία","tab":"52f2945.e5e5e6c","order":3,"disp":true,"width":"8","collapse":false},{"id":"accadb52.c147c8","type":"ui_group","name":"Πότισμα","tab":"52f2945.e5e5e6c","order":4,"disp":true,"width":"8","collapse":false},{"id":"9ee66a6a.dfa618","type":"ui_group","name":"Παράθυρο 1","tab":"8936b6fb.637808","order":2,"disp":true,"width":"6","collapse":false},{"id":"b8de755.3afc688","type":"ui_group","name":"Παράθυρο 2","tab":"8936b6fb.637808","order":3,"disp":true,"width":"6","collapse":false},{"id":"7a0fd03f.c091f","type":"ui_group","name":"Θερμοκρασία (°C)","tab":"8936b6fb.637808","order":8,"disp":true,"width":"6","collapse":false},{"id":"e4715284.3abef","type":"mqtt in","z":"331e38c7.51bfc8","name":"Είσοδος δεδομένων","topic":"lora/node1_out","qos":"2","datatype":"auto","broker":"de437731.f74d98","x":150,"y":480,"wires":[["b1cf0414.d3b618","70a24159.00dc5","d5682374.d0cb3"]]},{"id":"b1cf0414.d3b618","type":"function","z":"331e38c7.51bfc8","name":"Ημερομηνία και ώρα","func":"function addLZ(num, totalLength) \n{\n  return String(num).padStart(totalLength, '0');\n}\n\nvar d = new Date();\nvar n = d.getTimezoneOffset();\nvar t = d.getTime();\nvar sec = d.getSeconds();\nvar min = d.getMinutes();\nvar hour = d.getHours();\nvar date = d.getDate();\nvar month = d.getMonth() + 1;\nvar year = d.getFullYear();\npayload = addLZ(date, 2) + \"/\" + addLZ(month, 2) + \n    \"/\" + year + \"-\" + addLZ(hour, 2) + \":\" + addLZ(min, 2) + \n    \":\" + addLZ(sec, 2);\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":360,"wires":[["aac3af6b.4ec7f"]]},{"id":"aac3af6b.4ec7f","type":"ui_template","z":"331e38c7.51bfc8","group":"f7daf752.7e4088","name":"Τελευταία ενημέρωση","order":2,"width":"6","height":"2","format":"Τελευταία ενημέρωση:\n<div style=\"padding: 10px\">\n  <span class=\"box\">{{msg.payload}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1220,"y":360,"wires":[[]]},{"id":"70a24159.00dc5","type":"split","z":"331e38c7.51bfc8","name":"Διαχωρισμός πεδίων","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":200,"y":720,"wires":[["1dbb418e.c8ec8e"]]},{"id":"1dbb418e.c8ec8e","type":"switch","z":"331e38c7.51bfc8","name":"Route","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":410,"y":720,"wires":[["e0c4f028.65649"],["b61f0f74.3d8a"],["db1bf80a.d40558"],["5fd7246c.e002dc"],["c74a290.76ab2d8"],["c7670a48.7f1438"],["fe8f7645.7ecb28"],["4ae5f56a.fe080c"],["46b8b577.2f3c1c"],["30e652f5.e8554e"],["cd05602d.5ec1d"],["289b9707.296758","8d0d4319.33dbc"],["e158dc45.725de"]]},{"id":"b61f0f74.3d8a","type":"change","z":"331e38c7.51bfc8","name":"Αριθμός","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":520,"wires":[["aae687cd.a199c8"]]},{"id":"aae687cd.a199c8","type":"change","z":"331e38c7.51bfc8","name":"Εσωτερική Θερμ.","rules":[{"t":"set","p":"topic","pt":"msg","to":"Εσωτερική","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":520,"wires":[["ef8ce4c6.bf3898","7faf8083.638a","32b18112.90fcfe"]]},{"id":"ef8ce4c6.bf3898","type":"ui_gauge","z":"331e38c7.51bfc8","name":"Εσωτερική Θερμ. Όργανο","group":"f7daf752.7e4088","order":3,"width":3,"height":3,"gtype":"gage","title":"Εσωτερική Θερμ.","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#42e9f5","#faa005","#ef0b0b"],"seg1":"15","seg2":"25","x":1230,"y":520,"wires":[]},{"id":"e0c4f028.65649","type":"change","z":"331e38c7.51bfc8","name":"Αριθμός","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["312bac7c.cee314"]]},{"id":"312bac7c.cee314","type":"change","z":"331e38c7.51bfc8","name":"Εξωτερική Θερμ.","rules":[{"t":"set","p":"topic","pt":"msg","to":"Εξωτερική","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":440,"wires":[["a3d8b7.ebe9f748","865daee7.68524"]]},{"id":"a3d8b7.ebe9f748","type":"ui_gauge","z":"331e38c7.51bfc8","name":"Εξωτερική Θερμ. Όργανο","group":"f7daf752.7e4088","order":4,"width":3,"height":3,"gtype":"gage","title":"Εξωτερική Θερμ.","label":"°C","format":"{{value}}","min":"-10","max":"50","colors":["#42e9f5","#faa005","#ef0b0b"],"seg1":"15","seg2":"25","x":1230,"y":440,"wires":[]},{"id":"db1bf80a.d40558","type":"change","z":"331e38c7.51bfc8","name":"Αριθμός","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":600,"wires":[["13e31543.7f4bdb"]]},{"id":"13e31543.7f4bdb","type":"change","z":"331e38c7.51bfc8","name":"Υγρασία","rules":[{"t":"set","p":"topic","pt":"msg","to":"Υγρασία","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":600,"wires":[["d363db45.8e6be8","ba12cd5c.ae5e3"]]},{"id":"d363db45.8e6be8","type":"ui_gauge","z":"331e38c7.51bfc8","name":"Υγρασία Όργανο","group":"f7daf752.7e4088","order":7,"width":"3","height":"3","gtype":"wave","title":"Σχετ. Υγρασία","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#42e9f5","#faa005","#ef0b0b"],"seg1":"15","seg2":"25","x":1210,"y":600,"wires":[]},{"id":"5fd7246c.e002dc","type":"change","z":"331e38c7.51bfc8","name":"Αριθμός","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":680,"wires":[["12cf728c.43be6d"]]},{"id":"12cf728c.43be6d","type":"change","z":"331e38c7.51bfc8","name":"Ph","rules":[{"t":"set","p":"topic","pt":"msg","to":"Ph","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":680,"wires":[["35f43ab9.9aee66","6b023134.4d5eb"]]},{"id":"35f43ab9.9aee66","type":"ui_gauge","z":"331e38c7.51bfc8","name":"Ph Όργανο","group":"f7daf752.7e4088","order":5,"width":3,"height":3,"gtype":"gage","title":"Ph","label":"Ph","format":"{{value}}","min":"0","max":"14","colors":["#fbf304","#30e834","#4f0bef"],"seg1":"6","seg2":"8","x":1190,"y":680,"wires":[]},{"id":"c74a290.76ab2d8","type":"change","z":"331e38c7.51bfc8","name":"Αριθμός","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":760,"wires":[["23e976b5.e3cd2a"]]},{"id":"23e976b5.e3cd2a","type":"change","z":"331e38c7.51bfc8","name":"Ένταση Ηλιακής Ακτινοβ.","rules":[{"t":"set","p":"topic","pt":"msg","to":"Ηλιακή ακτινοβολία","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":760,"wires":[["84390941.f81b78","a35d6cc8.6db9b"]]},{"id":"84390941.f81b78","type":"ui_gauge","z":"331e38c7.51bfc8","name":"Ηλιακή ακτινοβολία Όργανο","group":"f7daf752.7e4088","order":6,"width":3,"height":3,"gtype":"gage","title":"Εντ. Ηλιακ. Ακτινοβ.","label":"W/m²","format":"{{value}}","min":"0","max":"1000","colors":["#8778f7","#eee83f","#f15a09"],"seg1":"4","seg2":"8","x":1240,"y":800,"wires":[]},{"id":"25ae1646.08cd0a","type":"mqtt out","z":"d1c0a1b2.1d74a","name":"","topic":"lora/node1","qos":"","retain":"","broker":"de437731.f74d98","x":1830,"y":620,"wires":[]},{"id":"8cf93d51.daed2","type":"ui_button","z":"d1c0a1b2.1d74a","name":"Θέρμανση ON","group":"3f3736f9.60f97a","order":1,"width":2,"height":1,"passthru":false,"label":"ON","tooltip":"Ανάβει την θέρμανση","color":"","bgcolor":"#ff7033","icon":"","payload":"heater on","payloadType":"str","topic":"payload","topicType":"msg","x":1240,"y":480,"wires":[["de68e3e4.ede6d"]]},{"id":"7dedbe40.32ba2","type":"ui_button","z":"d1c0a1b2.1d74a","name":"Θέρμανση OFF","group":"3f3736f9.60f97a","order":4,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"Σβήνει την θέρμανση","color":"","bgcolor":"#2196c4","icon":"","payload":"heater off","payloadType":"str","topic":"payload","topicType":"msg","x":1240,"y":540,"wires":[["de68e3e4.ede6d"]]},{"id":"c442c186.1c626","type":"change","z":"d1c0a1b2.1d74a","name":"Μετατροπή","rules":[{"t":"change","p":"payload","pt":"msg","from":"F","fromt":"str","to":"#3b0106","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"O","fromt":"str","to":"#fa071c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":660,"wires":[["f5c806ad.c9dcc8"]]},{"id":"f5c806ad.c9dcc8","type":"ui_template","z":"d1c0a1b2.1d74a","group":"3f3736f9.60f97a","name":"LED Θέρμανση","order":2,"width":"1","height":2,"format":"<style>\n.led {\n float: right;\n padding: 1px;\n width: 15px;\n height: 15px;\n /*margin: 5px 5px 5px 5px;*/\n margin: 10px;\n border-radius: 50%;\n}\n</style>\n\n<div style=\"padding-top: 30px\" title=\"Θερμαντικό σώμα\"><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload}} 0 3px 18px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1240,"y":660,"wires":[[]]},{"id":"c4318c0e.6a675","type":"comment","z":"331e38c7.51bfc8","name":"Εξωτερική θερμοκρασία","info":"","x":700,"y":400,"wires":[]},{"id":"5ded63dd.cd96dc","type":"comment","z":"331e38c7.51bfc8","name":"Εσωτερική θερμοκρασία","info":"","x":750,"y":480,"wires":[]},{"id":"3e3332e2.201c4e","type":"comment","z":"331e38c7.51bfc8","name":"Σχετική υγρασία","info":"","x":740,"y":560,"wires":[]},{"id":"1095c556.41a4bb","type":"ui_template","z":"331e38c7.51bfc8","group":"f7daf752.7e4088","name":"Εντολές CSS","order":1,"width":0,"height":0,"format":"<style>\n.box \n{\n float: left;\n padding: 2px;\n width: 200px;\n height: 25px;\n line-height: 25px;\n text-align: center;\n margin: 5px 5px 5px 5px;\n color: green;\n background-color: lightblue;\n border-radius: 5px;\n}\n\n.box1 \n{\n float: left;\n padding: 3px;\n width: 100px;\n height: 25px;\n line-height: 25px;\n text-align: center;\n margin: 5px 5px 5px 5px;\n color: green;\n background-color: rgb(245, 250, 187);\n border-radius: 5px;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":220,"wires":[[]]},{"id":"dadb4307.0bc6f","type":"comment","z":"331e38c7.51bfc8","name":"Ph","info":"","x":710,"y":640,"wires":[]},{"id":"d0f6fce.cf3e1","type":"comment","z":"331e38c7.51bfc8","name":"Ένταση ηλιακής ακτινοβ.","info":"","x":790,"y":720,"wires":[]},{"id":"f1fd5943.af64e8","type":"ui_template","z":"331e38c7.51bfc8","group":"3c0cfcb2.6f9844","name":"Uptime","order":3,"width":"3","height":"2","format":"Uptime:\n<div style=\"padding: 10px\">\n  <span class=\"box1\">{{msg.payload}}</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1180,"y":1060,"wires":[[]]},{"id":"cd05602d.5ec1d","type":"function","z":"331e38c7.51bfc8","name":"Μετατροπή από sec σε D:H:M","func":"var inp = msg.payload;\nvar days = Math.floor(inp / 86400);\ninp = inp % 86400;\nvar hours = Math.floor(inp / 3600);\ninp = inp % 3600;\nvar mins = Math.floor(inp / 60);\nvar s = days + \"D \" + hours + \"H \" + mins + \"M\";\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1060,"wires":[["f1fd5943.af64e8"]]},{"id":"d03d20bb.c2c91","type":"comment","z":"331e38c7.51bfc8","name":"Uptime σε sec","info":"","x":750,"y":1020,"wires":[]},{"id":"1cc143b3.75b37c","type":"comment","z":"331e38c7.51bfc8","name":"RSSI πύλης","info":"","x":770,"y":1120,"wires":[]},{"id":"a5f8aaaf.8cba58","type":"link in","z":"d1c0a1b2.1d74a","name":"Είσοδος εντολών mqtt","links":["61a4d043.ec83b","c18761b4.e7dc5","63d9a4e4.c08c2c","2737b88b.011a58","a1bcd608.3810b8","10f1bf71.cf36c1","de68e3e4.ede6d"],"x":1615,"y":620,"wires":[["25ae1646.08cd0a","29246b70.c86f84"]]},{"id":"ebd78817.2a25b8","type":"ui_button","z":"256a421c.9f471e","name":"Reset Node","group":"1e1b13ad.fa1f5c","order":23,"width":2,"height":1,"passthru":false,"label":"Reset","tooltip":"Επανεκκινεί το node","color":"","bgcolor":"#ff7033","icon":"","payload":"rst","payloadType":"str","topic":"payload","topicType":"msg","x":530,"y":980,"wires":[["61a4d043.ec83b"]]},{"id":"61a4d043.ec83b","type":"link out","z":"256a421c.9f471e","name":"","links":["a5f8aaaf.8cba58"],"x":1195,"y":820,"wires":[]},{"id":"30e652f5.e8554e","type":"link out","z":"331e38c7.51bfc8","name":"RSSI κόμβου","links":["18990f37.cca0e1"],"x":695,"y":980,"wires":[]},{"id":"db6b7ad4.be2d08","type":"comment","z":"331e38c7.51bfc8","name":"RSSI κόμβου","info":"","x":790,"y":980,"wires":[]},{"id":"18990f37.cca0e1","type":"link in","z":"256a421c.9f471e","name":"RSSI κόμβου είσοδος","links":["30e652f5.e8554e"],"x":55,"y":160,"wires":[["486368b.f176f98","e35eac4b.859ff"]]},{"id":"a265ff97.ce713","type":"ui_template","z":"256a421c.9f471e","group":"3c0cfcb2.6f9844","name":"Εντολές CSS","order":1,"width":0,"height":0,"format":"<style>\n.box \n{\n float: left;\n padding: 2px;\n width: 200px;\n height: 25px;\n line-height: 25px;\n text-align: center;\n margin: 5px 5px 5px 5px;\n color: green;\n background-color: lightblue;\n border-radius: 5px;\n}\n\n.box1 \n{\n float: left;\n padding: 3px;\n width: 100px;\n height: 25px;\n line-height: 25px;\n text-align: center;\n margin: 5px 5px 5px 5px;\n color: green;\n background-color: rgb(245, 250, 187);\n border-radius: 5px;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":510,"y":80,"wires":[[]]},{"id":"d5bcbf90.a4e21","type":"ui_slider","z":"256a421c.9f471e","name":"Power","label":"Power","tooltip":"","group":"1e1b13ad.fa1f5c","order":8,"width":"5","height":"1","passthru":false,"outs":"end","topic":"msg.payload","topicType":"str","min":"2","max":"20","step":1,"x":550,"y":500,"wires":[["ac683a65.617208"]]},{"id":"484974c7.1b602c","type":"ui_dropdown","z":"256a421c.9f471e","name":"Select SF","label":"SF","tooltip":"Επιλογή του SF","place":"","group":"1e1b13ad.fa1f5c","order":2,"width":"2","height":"1","passthru":false,"multiple":false,"options":[{"label":"7","value":"7","type":"str"},{"label":"8","value":"8","type":"str"},{"label":"9","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"}],"payload":"","topic":"msg.payload","topicType":"str","x":540,"y":320,"wires":[["f903b1a3.f0a22"]]},{"id":"dfa889f2.34ba88","type":"ui_text","z":"256a421c.9f471e","group":"1e1b13ad.fa1f5c","order":9,"width":"1","height":"1","name":"Label dbm","label":"dBm","format":"{{msg.payload}}","layout":"row-left","x":530,"y":560,"wires":[]},{"id":"b562d44d.e2f1d8","type":"ui_dropdown","z":"256a421c.9f471e","name":"Select BW","label":"BW","tooltip":"Επιλογή BW","place":"","group":"1e1b13ad.fa1f5c","order":4,"width":"3","height":"1","passthru":false,"multiple":false,"options":[{"label":"62.5 KHz","value":"0","type":"str"},{"label":"125 KHz","value":"1","type":"str"},{"label":"250 KHz","value":"2","type":"str"}],"payload":"","topic":"payload","topicType":"msg","x":530,"y":380,"wires":[["af4d4e66.a5a8f"]]},{"id":"6a78e9f3.42c5b8","type":"ui_button","z":"256a421c.9f471e","name":"Submit DR","group":"1e1b13ad.fa1f5c","order":11,"width":2,"height":1,"passthru":false,"label":"Υποβολή","tooltip":"Αλλαγή του DR","color":"","bgcolor":"#3ad67b","icon":"","payload":"send","payloadType":"str","topic":"payload","topicType":"msg","x":530,"y":620,"wires":[["4d4ff837.02e158"]]},{"id":"f903b1a3.f0a22","type":"function","z":"256a421c.9f471e","name":"Θέσε τιμή SF","func":"var node_sf = flow.get('node_sf') || 0;\nnode_sf = msg.payload;\nflow.set('node_sf', node_sf);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":320,"wires":[[]]},{"id":"af4d4e66.a5a8f","type":"function","z":"256a421c.9f471e","name":"Θέσε τιμή BW","func":"var node_bw = flow.get('node_bw') || \"0\";\nnode_bw = msg.payload;\nflow.set('node_bw', node_bw);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":380,"wires":[[]]},{"id":"ac683a65.617208","type":"function","z":"256a421c.9f471e","name":"Θέσε τιμή Power","func":"var node_power = flow.get('node_power') || 0;\nnode_power = msg.payload;\nflow.set('node_power', node_power);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":500,"wires":[[]]},{"id":"4d4ff837.02e158","type":"function","z":"256a421c.9f471e","name":"Συνάρτηση υποβολής DR","func":"var payload = msg.payload;\nvar node_fs = flow.get('node_sf') || 9;\nvar node_bw = flow.get('node_bw') || 0;\nvar node_cr = flow.get('node_cr') || 5;\nvar node_power = flow.get('node_power') || 17;\nout = \"\"\nif (payload == \"send\")\n   {\n    out = \"#opts 3 \" + node_fs + \" \" + node_bw + \" \" + node_cr + \" \" + node_power\n   }\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":620,"wires":[["61a4d043.ec83b"]]},{"id":"457ac2ce.e7777c","type":"ui_dropdown","z":"256a421c.9f471e","name":"Select CR","label":"CR","tooltip":"Επιλογή του CR","place":"","group":"1e1b13ad.fa1f5c","order":6,"width":"3","height":"1","passthru":false,"multiple":false,"options":[{"label":"4/5","value":"5","type":"str"},{"label":"4/6","value":"6","type":"str"},{"label":"4/7","value":"7","type":"str"},{"label":"4/8","value":"8","type":"str"}],"payload":"","topic":"payload","topicType":"msg","x":540,"y":440,"wires":[["9ab5ee15.ab6d8"]]},{"id":"9ab5ee15.ab6d8","type":"function","z":"256a421c.9f471e","name":"Θέσε τιμή CR","func":"var node_cr = flow.get('node_cr') || 0;\nnode_cr = msg.payload;\nflow.set('node_cr', node_cr);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":440,"wires":[[]]},{"id":"486368b.f176f98","type":"ui_chart","z":"256a421c.9f471e","name":"RSSI Γράφημα","group":"3c0cfcb2.6f9844","order":7,"width":"6","height":"6","label":"RSSI (dBm)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-130","ymax":"-30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":520,"y":200,"wires":[[]]},{"id":"289b9707.296758","type":"ui_chart","z":"331e38c7.51bfc8","name":"RSSI Γράφημα Πύλης","group":"63711e7c.fac1d","order":3,"width":"6","height":"6","label":"RSSI (dBm)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-130","ymax":"-30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f4e64e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":1220,"wires":[[]]},{"id":"8573cf3b.8efe4","type":"ui_template","z":"256a421c.9f471e","group":"1e1b13ad.fa1f5c","name":"HR1","order":1,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 7px\">\n  <div style=\"color: white; text-align: center\">Ρυθμίσεις D.R.</div><hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":260,"wires":[[]]},{"id":"4848e36d.a54ffc","type":"ui_template","z":"256a421c.9f471e","group":"1e1b13ad.fa1f5c","name":"HR3","order":20,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 20px\">\n  <hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":860,"wires":[[]]},{"id":"5f4b53e.967f9ac","type":"ui_template","z":"256a421c.9f471e","group":"1e1b13ad.fa1f5c","name":"HR2","order":13,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 7px\">\n  <div style=\"color: white; text-align: center\">Συχνότητα</div><hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":680,"wires":[[]]},{"id":"32a2146c.89afec","type":"ui_text_input","z":"256a421c.9f471e","name":"Συχνότητα","label":"Frequency:","tooltip":"","group":"1e1b13ad.fa1f5c","order":15,"width":"4","height":"2","passthru":false,"mode":"text","delay":"100","topic":"topic","topicType":"msg","x":530,"y":740,"wires":[["4c889cf6.c8eaa4"]]},{"id":"eb8e3789.cf1908","type":"ui_button","z":"256a421c.9f471e","name":"Submit FREQ","group":"1e1b13ad.fa1f5c","order":18,"width":2,"height":1,"passthru":false,"label":"Αλλαγή","tooltip":"Αλλαγή της συχνότητας","color":"","bgcolor":"#3ad67b","icon":"","payload":"send","payloadType":"str","topic":"payload","topicType":"msg","x":520,"y":800,"wires":[["6bfff023.e99cb"]]},{"id":"6bfff023.e99cb","type":"function","z":"256a421c.9f471e","name":"Συνάρτηση υποβολής Συχνότ.","func":"var payload = msg.payload;\nvar node_freq = flow.get('node_freq') || \"433.150\";\nout = \"\"\nif (payload == \"send\")\n   {\n    var fd = parseFloat(node_freq);\n    fd = fd * 10000;\n    var t = parseInt(fd);\n    t1 = (t >> 16) & 255;\n    t2 = (t >> 8) & 255;\n    t3 = t & 255;\n    out = \"#opts 7 \" + t1 + \" \" + t2 + \" \" + t3;\n   }\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":800,"wires":[["61a4d043.ec83b"]]},{"id":"4c889cf6.c8eaa4","type":"function","z":"256a421c.9f471e","name":"Θέσε τιμή συχνότητας","func":"var node_freq = flow.get('node_freq') || 0;\nnode_freq = msg.payload;\nvar f = parseFloat(node_freq); \nif (f < 410.000)\n    f = 410.000;\nif (f > 499.000)\n    f = 499.000;\nnode_freq = f.toString();\nif (node_freq.length < 7)\n    node_freq += \"0\";\nflow.set('node_freq', node_freq);\nmsg.payload = node_freq;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":740,"wires":[[]]},{"id":"2a2b7165.46269e","type":"mqtt in","z":"256a421c.9f471e","name":"","topic":"lora/node1_status","qos":"2","datatype":"auto","broker":"de437731.f74d98","x":110,"y":1120,"wires":[["ea8f68d0.624e08"]]},{"id":"ea8f68d0.624e08","type":"debug","z":"256a421c.9f471e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1120,"wires":[]},{"id":"e7b04968.c94ca8","type":"ui_button","z":"256a421c.9f471e","name":"Save to EEPROM","group":"1e1b13ad.fa1f5c","order":22,"width":2,"height":1,"passthru":false,"label":"Save","tooltip":"Αποθηκεύει ρυθμίσεις στην EEPROM","color":"","bgcolor":"#3ad67b","icon":"","payload":"save","payloadType":"str","topic":"payload","topicType":"msg","x":510,"y":920,"wires":[["61a4d043.ec83b"]]},{"id":"e35eac4b.859ff","type":"ui_level","z":"256a421c.9f471e","group":"3c0cfcb2.6f9844","order":6,"width":"4","height":"3","name":"RSSI","label":"RSSI","colorHi":"#25db00","colorWarn":"#ff9900","colorNormal":"#f92b06","colorOff":"#595959","min":"-120","max":"-50","segWarn":"-95","segHigh":"-75","unit":"dBm","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":530,"y":140,"wires":[]},{"id":"f621f95.1f1e708","type":"inject","z":"256a421c.9f471e","name":"Αρχική τιμή BW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":100,"y":380,"wires":[["16d1c7c6.0efd78"]]},{"id":"11b25e5c.922942","type":"inject","z":"256a421c.9f471e","name":"Αρχική τιμή CR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"str","x":100,"y":440,"wires":[["8180da1e.720fe8"]]},{"id":"8bb75584.b88678","type":"inject","z":"256a421c.9f471e","name":"Αρχική τιμή Power","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"str","x":110,"y":500,"wires":[["2254f9bb.871d76"]]},{"id":"2254f9bb.871d76","type":"function","z":"256a421c.9f471e","name":"Συνάρτηση επιλογής","func":"var payload = msg.payload;\nvar node_power = flow.get('node_power') || payload;\nmsg.payload = node_power;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":500,"wires":[["d5bcbf90.a4e21"]]},{"id":"8180da1e.720fe8","type":"function","z":"256a421c.9f471e","name":"Συνάρτηση επιλογής","func":"var payload = msg.payload;\nvar node_cr = flow.get('node_cr') || payload;\nmsg.payload = node_cr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":440,"wires":[["457ac2ce.e7777c"]]},{"id":"16d1c7c6.0efd78","type":"function","z":"256a421c.9f471e","name":"Συνάρτηση επιλογής","func":"var payload = msg.payload;\nvar node_bw = flow.get('node_bw') || payload;\nmsg.payload = node_bw;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":380,"wires":[["b562d44d.e2f1d8"]]},{"id":"c8e2e820.21cdf8","type":"inject","z":"256a421c.9f471e","name":"Αρχική τιμή SF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"str","x":100,"y":320,"wires":[["42a22e2d.75db"]]},{"id":"42a22e2d.75db","type":"function","z":"256a421c.9f471e","name":"Συνάρτηση επιλογής","func":"var payload = msg.payload;\nvar node_sf = flow.get('node_sf') || payload;\nmsg.payload = node_sf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["484974c7.1b602c"]]},{"id":"9376b1b8.214e3","type":"inject","z":"256a421c.9f471e","name":"Αρχική τιμή Συχνότητα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"433.150","payloadType":"str","x":120,"y":740,"wires":[["18b5025.c2ac8fe"]]},{"id":"18b5025.c2ac8fe","type":"function","z":"256a421c.9f471e","name":"Συνάρτηση επιλογής","func":"var payload = msg.payload;\nvar node_freq = flow.get('node_freq') || payload;\nmsg.payload = node_freq;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":740,"wires":[["32a2146c.89afec"]]},{"id":"61769b83.4a19c4","type":"ui_switch","z":"d1c0a1b2.1d74a","name":"Auto","label":"Αυτόματα","tooltip":"","group":"3f3736f9.60f97a","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1210,"y":360,"wires":[["340420df.81ccd","574bab77.168be4"]]},{"id":"57825d4f.2e2b54","type":"function","z":"d1c0a1b2.1d74a","name":"Αρχικοποίηση Auto","func":"var payload = msg.payload;\nvar heat_auto = flow.get('heat_auto') || payload;\nmsg.payload = heat_auto;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":360,"wires":[["61769b83.4a19c4"]]},{"id":"340420df.81ccd","type":"function","z":"d1c0a1b2.1d74a","name":"Θέσε τιμή Auto","func":"var payload = msg.payload;\nmsg.enabled = true;\nif (payload == true)\n    msg.enabled = false;\nflow.set('heat_auto', payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":460,"wires":[["8cf93d51.daed2","7dedbe40.32ba2"]]},{"id":"c47aa242.13b75","type":"ui_slider","z":"d1c0a1b2.1d74a","name":"Thermostat","label":"Θερμοστάτης (°C)","tooltip":"Κάτω από ποια θερμοκρασία ανάβει η θέρμανση.","group":"3f3736f9.60f97a","order":6,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"5","max":"25","step":1,"x":1230,"y":600,"wires":[["d63b5e88.7272"]]},{"id":"574bab77.168be4","type":"function","z":"d1c0a1b2.1d74a","name":"Θέσε τιμή Θερμοστάτη","func":"var payload = msg.payload;\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = flow.get('heat_therm') || 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":600,"wires":[["c47aa242.13b75"]]},{"id":"d63b5e88.7272","type":"function","z":"d1c0a1b2.1d74a","name":"Θέσε τιμή Θερμοστάτη","func":"var heat_therm = flow.get('heat_therm');\nheat_therm = msg.payload;\nflow.set('heat_therm', heat_therm);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":600,"wires":[[]]},{"id":"7faf8083.638a","type":"link out","z":"331e38c7.51bfc8","name":"Εσωτερική Θερμοκρασία","links":["145d74ba.addfbb","92f0399.ac8fec8","68dea4bc.5afd2c","57ccc09a.fe04"],"x":1145,"y":560,"wires":[]},{"id":"145d74ba.addfbb","type":"link in","z":"d1c0a1b2.1d74a","name":"Είσοδος Εσωτερική Θερμοκρασία","links":["7faf8083.638a"],"x":535,"y":740,"wires":[["7b271335.567ffc","9d8bec14.0e01c","47f7889.5a6ed78"]]},{"id":"7b271335.567ffc","type":"ui_digital_display","z":"d1c0a1b2.1d74a","name":"Sev.Segment DIsplay","group":"3f3736f9.60f97a","order":5,"width":"3","height":"1","digits":"4","decimals":1,"x":1260,"y":740,"wires":[]},{"id":"9d8bec14.0e01c","type":"function","z":"d1c0a1b2.1d74a","name":"Ενέργεια Θέρμανσης","func":"var payload = msg.payload;\nvar heat_therm = flow.get('heat_therm');\nvar heat_auto = flow.get('heat_auto')\nvar state = flow.get('therm_state') || false;\nif (heat_auto)\n   {\n    msg.payload = \"\";\n    if ((payload < heat_therm) && !state)\n       {\n        msg.payload = \"heater on\";\n        state = true;\n       }\n    else if ((payload >= (heat_therm + 1)) && state)\n       {\n        msg.payload = \"heater off\";\n        state = false;\n       }\n    flow.set('therm_state', state);\n    if (msg.payload !== \"\")\n        return msg;\n   }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":800,"wires":[["de68e3e4.ede6d"]]},{"id":"3d947d69.408342","type":"comment","z":"d1c0a1b2.1d74a","name":"Εσωτερική θερμοκρασία","info":"","x":390,"y":740,"wires":[]},{"id":"e1312183.089e8","type":"ui_button","z":"34cd7755.0d6818","name":"Πότισμα ON","group":"5e3e7636.992428","order":1,"width":"2","height":1,"passthru":false,"label":"ON","tooltip":"Ξεκινάει το πότισμα","color":"","bgcolor":"#ff7033","icon":"","payload":"pump on","payloadType":"str","topic":"payload","topicType":"msg","x":810,"y":140,"wires":[["c18761b4.e7dc5"]]},{"id":"d4d327c5.f94248","type":"ui_button","z":"34cd7755.0d6818","name":"Πότισμα OFF","group":"5e3e7636.992428","order":4,"width":"2","height":1,"passthru":false,"label":"OFF","tooltip":"Σταματάει το πότισμα","color":"","bgcolor":"#2196c4","icon":"","payload":"pump off","payloadType":"str","topic":"payload","topicType":"msg","x":810,"y":200,"wires":[["c18761b4.e7dc5"]]},{"id":"e22641d3.05867","type":"change","z":"34cd7755.0d6818","name":"Μετατροπή","rules":[{"t":"change","p":"payload","pt":"msg","from":"F","fromt":"str","to":"#014a06","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"O","fromt":"str","to":"#05f515","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":720,"wires":[["92be66a.0ced198"]]},{"id":"92be66a.0ced198","type":"ui_template","z":"34cd7755.0d6818","group":"5e3e7636.992428","name":"LED Πότισμα","order":2,"width":1,"height":2,"format":"<style>\n.led {\n float: right;\n padding: 1px;\n width: 15px;\n height: 15px;\n /*margin: 5px 5px 5px 5px;*/\n margin: 10px;\n border-radius: 50%;\n}\n</style>\n\n<div style=\"padding-top: 30px\" title=\"Αντλία\"><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload}} 0 3px 18px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":720,"wires":[[]]},{"id":"c18761b4.e7dc5","type":"link out","z":"34cd7755.0d6818","name":"Προς εντολές mqtt","links":["a5f8aaaf.8cba58"],"x":1735,"y":280,"wires":[]},{"id":"a1cf39cf.b73298","type":"comment","z":"34cd7755.0d6818","name":"Δημοσίευση εντολών mqtt","info":"","x":1790,"y":220,"wires":[]},{"id":"73c86de1.b69244","type":"function","z":"34cd7755.0d6818","name":"Μετατροπή μηνύματος","func":"var inp = msg.payload;\nvar out=[];\nif (inp == \"D\")\n   {\n    payload = \"Χαμηλή\";\n    bg = \"#ebeb34\";\n   }\nelse if (inp == \"U\")\n   {\n    payload = \"Υψηλή\";\n    bg = \"#0fd146\";\n   }\nelse\n   {\n    payload = \"Αγνωστη\";\n    bg = \"#a7a8a7\";\n   }\nout.push(payload);\nout.push(bg);\n\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":340,"wires":[["1a86d412.5c307c"]]},{"id":"1a86d412.5c307c","type":"ui_template","z":"34cd7755.0d6818","group":"5e3e7636.992428","name":"Στάθμη νερού","order":5,"width":"3","height":"2","format":"Στάθμη ποτίσμ.:\n<div style=\"padding: 10px\">\n  <span class=\"box1\" style=\"background-color: {{msg.payload[1]}}\">{{msg.payload[0]}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":820,"y":340,"wires":[[]]},{"id":"ae690ba3.30e178","type":"function","z":"34cd7755.0d6818","name":"Αρχικοποίηση Auto","func":"var payload = msg.payload;\nvar potism_auto = flow.get('potism_auto') || payload;\nmsg.payload = potism_auto;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":40,"wires":[["17875683.d068a9"]]},{"id":"17875683.d068a9","type":"ui_switch","z":"34cd7755.0d6818","name":"Auto","label":"Αυτόματα","tooltip":"","group":"5e3e7636.992428","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":790,"y":40,"wires":[["c3f342f4.7693","423b5905.64b118","c6c0f9b.d4f0f08"]]},{"id":"c3f342f4.7693","type":"function","z":"34cd7755.0d6818","name":"Θέσε τιμή Auto","func":"var payload = msg.payload;\nmsg.enabled = true;\nif (payload == true)\n   {\n    msg.enabled = false;\n   }\nelse\n   {\n    flow.set('isRunning', false); //Θέσε flag\n    flow.set('pumpIsOn', false);\n    //flow.set('potism_delay', 0);\n   }\nflow.set('potism_auto', payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":140,"wires":[["e1312183.089e8","d4d327c5.f94248"]]},{"id":"423b5905.64b118","type":"function","z":"34cd7755.0d6818","name":"Θέσε αρχική τιμή χρόνου","func":"var payload = msg.payload;\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = flow.get('potism_delay') || 60;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":200,"wires":[["41d0a307.7f51cc"]]},{"id":"41d0a307.7f51cc","type":"ui_slider","z":"34cd7755.0d6818","name":"Χρόνος έναρξης","label":"Χρονοδιακ. (min)","tooltip":"Μετά από πόσα λεπτά θα ξεκινήσει το πότισμα.","group":"5e3e7636.992428","order":8,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"10","max":"180","step":"10","x":820,"y":260,"wires":[["be00f17c.18144"]]},{"id":"be00f17c.18144","type":"function","z":"34cd7755.0d6818","name":"Θέσε τιμή Χρονοδιακόπτη","func":"var potism_delay = msg.payload;\nflow.set('potism_delay', potism_delay);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":260,"wires":[[]]},{"id":"e7e23a00.7b3e58","type":"inject","z":"d1c0a1b2.1d74a","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":610,"y":360,"wires":[["57825d4f.2e2b54"]]},{"id":"80f59701.843e88","type":"inject","z":"34cd7755.0d6818","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":200,"y":40,"wires":[["ae690ba3.30e178"]]},{"id":"d563e9be.b44568","type":"debug","z":"34cd7755.0d6818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":480,"wires":[]},{"id":"bd44dece.83914","type":"delay","z":"34cd7755.0d6818","name":"Delay 1min","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":480,"wires":[["d563e9be.b44568","59d05860.e95d68","df116a2b.d08328"]]},{"id":"59d05860.e95d68","type":"function","z":"34cd7755.0d6818","name":"Μετρητής","func":"t = msg.payload; //Πάρε τιμή χρόνου από το προηγούμενο block\nvar isRunning = flow.get('isRunning'); //Μετράει\nif ((t > 0) && isRunning) //Αν ο χρόνος δεν έφτασε στο 0 και ακόμη μετράει\n   {\n    t -= 1; //Μείωσε κατά 1 λεπτό\n    msg.payload = t; //Βάλτο στο payload ώστε να επιστρέψει με καθυστέρηση 1 λεπτό\n    return msg;\n   }\nelse //Αλλίως ο χρόνος έφτασε στο 0 ή δεν μετράει\n    isRunning = false; //Θέσε flag\nflow.set('isRunning', isRunning); //Αποθήκευσε flag","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":480,"wires":[["bd44dece.83914","3267cb59.1b5414"]]},{"id":"eb53147c.20b468","type":"function","z":"34cd7755.0d6818","name":"Άνοιγμα πύλης με μήνυμα 'D'","func":"var contr = msg.payload; //Διάβασε κατάσταση αισθητήρα κάθε 1 λεπτό\nvar t = flow.get('potism_delay'); //Διάβασε τιμή του Delay\nvar potism_auto = flow.get('potism_auto'); //Είναι στο αυτόματο\nvar isRunning = flow.get('isRunning') || false; \nvar pumpIsOn = flow.get('pumpIsOn') || false;\nif (potism_auto) //Αν είναι σε κατάσταση auto\n   {\n    if (!isRunning && !pumpIsOn) //Αν δεν μετράει χρόνο και δεν ξεκίνησε η αντλία\n       {\n        if (contr == \"D\") //Αν ο αισθητήρας έστειλε D\n            isRunning = true; //Τότε μετράει ο χρόνος\n        flow.set('isRunning', isRunning); //Θέσε το flag\n        msg.payload = t; //Βάλε στο payload την τιμή του μετρητή\n        return msg; //Επιστροφή\n       }\n    else //Αλλιώς η αντλία λειτουργεί ή ακόμη μετράει καθυστέρηση\n       {\n        if (contr == \"U\") //Αν συμπλήρωσε το νερό\n            isRunning = false; //Σταμάτα τον μετρητή χρόνου\n       }\n    flow.set('isRunning', isRunning); //Θέσε flag\n   }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":480,"wires":[["59d05860.e95d68"]]},{"id":"14d7a16.40e105f","type":"debug","z":"34cd7755.0d6818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":580,"wires":[]},{"id":"df116a2b.d08328","type":"function","z":"34cd7755.0d6818","name":"Όταν περάσει ο χρόνος pump on","func":"var pumpIsOn = flow.get('pumpIsOn')\nif (msg.payload == 0)\n   {\n    msg.payload = \"pump on\";\n    pumpIsOn = true;\n    flow.set('pumpIsOn', pumpIsOn);\n    return msg;\n   }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":580,"wires":[["14d7a16.40e105f","c18761b4.e7dc5"]]},{"id":"5f384f1.5af77b","type":"function","z":"34cd7755.0d6818","name":"Σταμάτησε πότισμα με 'U'","func":"var contr = msg.payload;\nvar pumpIsOn = flow.get('pumpIsOn') || false;\nvar potism_auto = flow.get('potism_auto')\nif (potism_auto)\n{\nif (contr == \"U\" && pumpIsOn)\n   {\n    pumpIsOn = false;\n    msg.payload = \"pump off\";\n    flow.set('pumpIsOn', pumpIsOn);\n    return msg;\n   }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":640,"wires":[["c16b11c9.3cb8f","c18761b4.e7dc5"]]},{"id":"c16b11c9.3cb8f","type":"debug","z":"34cd7755.0d6818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":640,"wires":[]},{"id":"3267cb59.1b5414","type":"ui_digital_display","z":"34cd7755.0d6818","name":"","group":"5e3e7636.992428","order":7,"width":"2","height":"1","digits":"3","decimals":"0","x":820,"y":420,"wires":[]},{"id":"576fb888.3e65e8","type":"ui_switch","z":"4c9ae3c9.90175c","name":"Auto","label":"Αυτόματα","tooltip":"","group":"5e81eb87.168ea4","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":750,"y":200,"wires":[["4c932943.503978","bbc061f.12650a","40982df7.f7be04"]]},{"id":"7f76d95c.54a6d8","type":"ui_button","z":"4c9ae3c9.90175c","name":"Ανεμιστήρες ON","group":"5e81eb87.168ea4","order":1,"width":"2","height":1,"passthru":false,"label":"ON","tooltip":"Ξεκινάει τους ανεμιστήρες","color":"","bgcolor":"#ff7033","icon":"","payload":"airon","payloadType":"str","topic":"payload","topicType":"msg","x":780,"y":340,"wires":[["a60de37c.8c85"]]},{"id":"b9587922.c8c158","type":"ui_button","z":"4c9ae3c9.90175c","name":"Ανεμιστήρες OFF","group":"5e81eb87.168ea4","order":4,"width":"2","height":1,"passthru":false,"label":"OFF","tooltip":"Σταματάει τους ανεμιστήρες","color":"","bgcolor":"#2196c4","icon":"","payload":"airspeed 0","payloadType":"str","topic":"payload","topicType":"msg","x":790,"y":400,"wires":[["63d9a4e4.c08c2c"]]},{"id":"e3665e4a.add3b","type":"ui_slider","z":"4c9ae3c9.90175c","name":"Ένταση αέρα","label":"Ένταση αέρα","tooltip":"Βήματα έντασης από 1 έως 5.","group":"5e81eb87.168ea4","order":7,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":"5","step":"1","x":830,"y":500,"wires":[["696a82c3.ad847c"]]},{"id":"ff19522b.aec8b","type":"ui_template","z":"4c9ae3c9.90175c","group":"5e81eb87.168ea4","name":"LED Ανεμιστήρες","order":2,"width":1,"height":2,"format":"<style>\n.led {\n float: right;\n padding: 1px;\n width: 15px;\n height: 15px;\n /*margin: 5px 5px 5px 5px;*/\n margin: 10px;\n border-radius: 50%;\n}\n</style>\n\n<div style=\"padding-top: 30px\" title=\"Ανεμιστήρες\"><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload}} 0 3px 18px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":790,"y":680,"wires":[[]]},{"id":"4ae5f56a.fe080c","type":"link out","z":"331e38c7.51bfc8","name":"Ταχύτητα παραθύρων","links":[],"x":695,"y":900,"wires":[]},{"id":"ef90f321.625aa","type":"comment","z":"331e38c7.51bfc8","name":"Ταχύτητα παραθύρων","info":"","x":820,"y":900,"wires":[]},{"id":"fe56fc5e.9e86","type":"link in","z":"4c9ae3c9.90175c","name":"Ένταση αέρα","links":["46b8b577.2f3c1c"],"x":135,"y":600,"wires":[["a3b1006b.5bedb","20536524.136b9a"]]},{"id":"a4bfc143.f7add","type":"comment","z":"4c9ae3c9.90175c","name":"Ένταση αέρα","info":"","x":90,"y":560,"wires":[]},{"id":"a3b1006b.5bedb","type":"function","z":"4c9ae3c9.90175c","name":"Μετατροπή","func":"var payload = msg.payload;\nif (payload > 0)\n    msg.payload = \"#36e5f5\";\nelse\n    msg.payload = \"#112b63\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":680,"wires":[["ff19522b.aec8b"]]},{"id":"63d9a4e4.c08c2c","type":"link out","z":"4c9ae3c9.90175c","name":"Προς εντολές mqtt","links":["a5f8aaaf.8cba58"],"x":1295,"y":400,"wires":[]},{"id":"46b8b577.2f3c1c","type":"link out","z":"331e38c7.51bfc8","name":"Ένταση ανεμιστήρων","links":["fe56fc5e.9e86"],"x":695,"y":940,"wires":[]},{"id":"f7c45978.a4df38","type":"comment","z":"331e38c7.51bfc8","name":"Ένταση αέρα","info":"","x":790,"y":940,"wires":[]},{"id":"d7eee8f8.351548","type":"inject","z":"4c9ae3c9.90175c","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":80,"y":200,"wires":[["3a33d10a.ce81ee"]]},{"id":"3a33d10a.ce81ee","type":"function","z":"4c9ae3c9.90175c","name":"Αρχικοποίηση Auto","func":"var payload = msg.payload;\nvar air_auto = flow.get('air_auto') || payload;\nmsg.payload = air_auto;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":200,"wires":[["576fb888.3e65e8"]]},{"id":"4c932943.503978","type":"function","z":"4c9ae3c9.90175c","name":"Θέσε τιμή Auto","func":"var payload = msg.payload;\nmsg.enabled = true;\nif (payload == true)\n    msg.enabled = false;\nflow.set('air_auto', payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":360,"wires":[["7f76d95c.54a6d8","b9587922.c8c158","4472d866.5fc3f8"]]},{"id":"4472d866.5fc3f8","type":"function","z":"4c9ae3c9.90175c","name":"Θέσε αρχική τιμή","func":"msg.payload = flow.get('air_speed') || 3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":500,"wires":[["e3665e4a.add3b"]]},{"id":"696a82c3.ad847c","type":"function","z":"4c9ae3c9.90175c","name":"Θέσε ένταση","func":"var air_speed = msg.payload;\nvar air_speed_old = flow.get('air_speed');\nflow.set('air_speed', air_speed);\nif (air_speed != air_speed_old)\n   {\n    msg.payload = \"airspeed \" + air_speed.toString();\n    return msg;\n   }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":500,"wires":[["63d9a4e4.c08c2c"]]},{"id":"a60de37c.8c85","type":"function","z":"4c9ae3c9.90175c","name":"Μετατροπή","func":"var payload = msg.payload;\nvar speed = flow.get('air_speed')\nif (payload == \"airon\")\n    msg.payload = \"airspeed \" + speed.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":340,"wires":[["63d9a4e4.c08c2c","874f2534.f2a3d8"]]},{"id":"2aa34bab.5bfd24","type":"function","z":"59e2aa4.4d44054","name":"Μετατροπή μηνύματος","func":"var inp = msg.payload;\nvar out=[];\nif (inp == \"O\")\n   {\n    payload = \"Μαζεμένη\";\n    bg = \"#fafaa5\";\n   }\nelse if (inp == \"C\")\n   {\n    payload = \"Απλωμένη\"\n    bg = \"#03258c\";\n   }\nelse if (inp == \"S\")\n   {\n    payload = \"Βήμα\";\n    bg = \"#f2b233\";\n   }\nelse\n   {\n    payload = \"Αγνωστη\";\n    bg = \"#a7a8a7\";\n   }\nout.push(payload);\nout.push(bg);\n\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":760,"wires":[["14fdb808.232d28"]]},{"id":"14fdb808.232d28","type":"ui_template","z":"59e2aa4.4d44054","group":"c3c86d2c.dd633","name":"Κατάσταση σκίασης","order":6,"width":"3","height":"2","format":"Κατάστ. σκίασης:\n<div style=\"padding: 10px\">\n  <span class=\"box1\" style=\"background-color: {{msg.payload[1]}}\">{{msg.payload[0]}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1070,"y":760,"wires":[[]]},{"id":"bef81854.b3d0f8","type":"inject","z":"59e2aa4.4d44054","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":280,"y":280,"wires":[["4f6e7dac.404fc4"]]},{"id":"4f6e7dac.404fc4","type":"function","z":"59e2aa4.4d44054","name":"Αρχικοποίηση Auto","func":"var payload = msg.payload;\nvar skia_auto = flow.get('skia_auto') || payload;\nmsg.payload = skia_auto;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":280,"wires":[["88d860f3.14234"]]},{"id":"88d860f3.14234","type":"ui_switch","z":"59e2aa4.4d44054","name":"Auto","label":"Αυτόματα","tooltip":"","group":"c3c86d2c.dd633","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":870,"y":280,"wires":[["e2ea784a.d52358","8cc23fce.53626","8dc8984b.204248"]]},{"id":"e2ea784a.d52358","type":"function","z":"59e2aa4.4d44054","name":"Θέσε τιμή Auto","func":"var payload = msg.payload;\nmsg.enabled = true;\nif (payload == true)\n    msg.enabled = false;\nflow.set('skia_auto', payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":380,"wires":[["9fa48fe3.7a5a1","fa656bd2.0d3f68","2663acb5.96f294"]]},{"id":"8cc23fce.53626","type":"function","z":"59e2aa4.4d44054","name":"Θέσε αρχική τιμή","func":"var payload = msg.payload;\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = flow.get('skia_delay') || 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":520,"wires":[["df582d75.549f"]]},{"id":"9fa48fe3.7a5a1","type":"ui_button","z":"59e2aa4.4d44054","name":"Μάζεψε","group":"c3c86d2c.dd633","order":1,"width":"2","height":1,"passthru":false,"label":"Μάζεψε","tooltip":"Μαζεύει κουρτίνες ώστε να περάσει περισσότερο φως","color":"#adadad","bgcolor":"#f7fa98","icon":"","payload":"skiafop","payloadType":"str","topic":"payload","topicType":"msg","x":880,"y":380,"wires":[["44a94451.cd8f0c"]]},{"id":"fa656bd2.0d3f68","type":"ui_button","z":"59e2aa4.4d44054","name":"Άπλωσε","group":"c3c86d2c.dd633","order":4,"width":"2","height":1,"passthru":false,"label":"Άπλωσε","tooltip":"Απλώνει τις κουρτίνες και κόβει ήλιο","color":"","bgcolor":"#535a6e","icon":"","payload":"skiafcl","payloadType":"str","topic":"payload","topicType":"msg","x":880,"y":420,"wires":[["403c396a.62f0f8"]]},{"id":"df582d75.549f","type":"ui_slider","z":"59e2aa4.4d44054","name":"Έλεγχος κάθε Ν λεπτά","label":"Έλεγχος (min)","tooltip":"Χρονικό διάστημα ελέγχου και απόφασης. ","group":"c3c86d2c.dd633","order":9,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":"30","step":"1","x":900,"y":520,"wires":[["c54bbbc1.2893d8"]]},{"id":"c54bbbc1.2893d8","type":"function","z":"59e2aa4.4d44054","name":"Θέσε τιμή Χρονοδιακόπτη","func":"var skia_delay = msg.payload;\nflow.set('skia_delay', skia_delay);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":520,"wires":[[]]},{"id":"7f8b4404.95d87c","type":"ui_template","z":"59e2aa4.4d44054","group":"c3c86d2c.dd633","name":"LED Μαζεύει","order":2,"width":1,"height":"1","format":"<style>\n.led {\n float: right;\n padding: 1px;\n width: 15px;\n height: 15px;\n /*margin: 5px 5px 5px 5px;*/\n margin: 10px;\n border-radius: 50%;\n}\n</style>\n\n<div style=\"padding-top: 3px\" title=\"Μαζεύει\"><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload}} 0 3px 18px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1050,"y":600,"wires":[[]]},{"id":"accb0311.67184","type":"ui_template","z":"59e2aa4.4d44054","group":"c3c86d2c.dd633","name":"LED Απλώνει","order":5,"width":1,"height":"1","format":"<style>\n.led {\n float: right;\n padding: 1px;\n width: 15px;\n height: 15px;\n /*margin: 5px 5px 5px 5px;*/\n margin: 10px;\n border-radius: 50%;\n}\n</style>\n\n<div style=\"padding-top: 3px\" title=\"Απλώνει\"><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload}} 0 3px 18px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":660,"wires":[[]]},{"id":"1e684b42.c4e615","type":"ui_digital_display","z":"59e2aa4.4d44054","name":"","group":"c3c86d2c.dd633","order":8,"width":"1","height":"1","digits":"2","decimals":"0","x":1120,"y":200,"wires":[]},{"id":"70a0d017.1eac4","type":"ui_template","z":"59e2aa4.4d44054","group":"c3c86d2c.dd633","name":"HR1","order":10,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 7px\">\n  <div style=\"color: white; text-align: center\">Ρύθμιση Βήματος</div><hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1010,"y":900,"wires":[[]]},{"id":"f822f83c.1cbfe8","type":"ui_text_input","z":"59e2aa4.4d44054","name":"Μέγιστος χρόνος","label":"Χρόνος διαδρομής:","tooltip":"Ο μέγιστος χρόνος διαδρομής σε sec.","group":"c3c86d2c.dd633","order":11,"width":"3","height":"1","passthru":false,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1030,"y":960,"wires":[["143f5786.ef26d8"]]},{"id":"a3f18584.ec8388","type":"ui_text_input","z":"59e2aa4.4d44054","name":"Μέγιστο άνοιγμα","label":"Μέγιστο άνοιγμα % :","tooltip":"Η μεγαλύτερη τιμή ανοίγματος σε ποσοστό %","group":"c3c86d2c.dd633","order":12,"width":"3","height":"1","passthru":false,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1020,"y":1020,"wires":[["6a55c1e9.751cc"]]},{"id":"e849590.a981fa8","type":"ui_numeric","z":"59e2aa4.4d44054","name":"Βήμα","label":"Βήμα % :","tooltip":"Επιλέξτε το ποσοστό βήματος %","group":"c3c86d2c.dd633","order":13,"width":"4","height":"1","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"20","step":1,"x":1010,"y":1080,"wires":[["b873afab.d1f57"]]},{"id":"2737b88b.011a58","type":"link out","z":"59e2aa4.4d44054","name":"Προς εντολές mqtt","links":["a5f8aaaf.8cba58"],"x":1255,"y":380,"wires":[]},{"id":"386517bb.17cd78","type":"ui_switch","z":"59e2aa4.4d44054","name":"Test Βήμα","label":"Stp","tooltip":"Ενεργοποιεί την δοκιμή βήματος.","group":"c3c86d2c.dd633","order":7,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":900,"y":460,"wires":[["22cb5cb1.872654"]]},{"id":"d5682374.d0cb3","type":"debug","z":"331e38c7.51bfc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":480,"wires":[]},{"id":"c7670a48.7f1438","type":"link out","z":"331e38c7.51bfc8","name":"DinStatus","links":["2d30bfce.99d0a","d512d07e.d9a2c","f48e6633.2995b8","ef71b95.c6fa548"],"x":695,"y":820,"wires":[]},{"id":"fd2bd4.679f343","type":"comment","z":"331e38c7.51bfc8","name":"Din Status","info":"","x":780,"y":820,"wires":[]},{"id":"2d30bfce.99d0a","type":"link in","z":"34cd7755.0d6818","name":"DinStatus","links":["c7670a48.7f1438"],"x":35,"y":320,"wires":[["d196a0d8.36959"]]},{"id":"c5142d07.1a7c2","type":"comment","z":"34cd7755.0d6818","name":"DinStatus","info":"","x":60,"y":280,"wires":[]},{"id":"d196a0d8.36959","type":"function","z":"34cd7755.0d6818","name":"Στάθμη νερού - b6","func":"var d = parseInt(msg.payload);\nvar t = \"\";\nif (d & 0b01000000)\n    t = \"U\";\nelse\n    t = \"D\";\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":320,"wires":[["73c86de1.b69244","eb53147c.20b468","5f384f1.5af77b"]]},{"id":"fe8f7645.7ecb28","type":"link out","z":"331e38c7.51bfc8","name":"DoutStatus","links":["7653b48a.7b446c","2af9d0ee.3de64","ff36cd66.b4cb2","7df34296.1a4d1c","d121d9cf.a351f8"],"x":695,"y":860,"wires":[]},{"id":"1911bced.b82f33","type":"comment","z":"331e38c7.51bfc8","name":"Dout Status","info":"","x":790,"y":860,"wires":[]},{"id":"7653b48a.7b446c","type":"link in","z":"d1c0a1b2.1d74a","name":"DoutStatus","links":["fe8f7645.7ecb28"],"x":535,"y":660,"wires":[["2264c6b8.b48e0a"]]},{"id":"45264cb0.226044","type":"comment","z":"d1c0a1b2.1d74a","name":"DoutStatus","info":"","x":440,"y":660,"wires":[]},{"id":"2264c6b8.b48e0a","type":"function","z":"d1c0a1b2.1d74a","name":"Θέρμανση - b0","func":"var d = parseInt(msg.payload);\nvar t = \"\";\nif (d & 0b00000001)\n    t = \"O\";\nelse\n    t = \"F\";\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":660,"wires":[["c442c186.1c626","a7cfc9ff.e4e098"]]},{"id":"bfeb3bf3.2b7bc8","type":"comment","z":"34cd7755.0d6818","name":"DoutStatus","info":"","x":60,"y":680,"wires":[]},{"id":"2af9d0ee.3de64","type":"link in","z":"34cd7755.0d6818","name":"DoutStatus","links":["fe8f7645.7ecb28"],"x":35,"y":720,"wires":[["1fe8bf16.d45451"]]},{"id":"1fe8bf16.d45451","type":"function","z":"34cd7755.0d6818","name":"Αντλία - b1","func":"var d = parseInt(msg.payload);\nvar pumpIsOn = flow.get('pumpIsOn');\nvar t = \"\";\nif (d & 0b00000010)\n    t = \"O\";\nelse\n    {\n     t = \"F\";\n     //if (pumpIsOn) flow.set('pumpIsOn', false);\n    }\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":720,"wires":[["e22641d3.05867","74b4caf7.3a4b04"]]},{"id":"41091393.15b03c","type":"comment","z":"59e2aa4.4d44054","name":"DinStatus","info":"","x":100,"y":720,"wires":[]},{"id":"d512d07e.d9a2c","type":"link in","z":"59e2aa4.4d44054","name":"DinStatus","links":["c7670a48.7f1438"],"x":115,"y":760,"wires":[["9bdc37b2.3bf2c8"]]},{"id":"9bdc37b2.3bf2c8","type":"function","z":"59e2aa4.4d44054","name":"Κατάσταση κουρτίνας - b4, b5","func":"var d = parseInt(msg.payload);\nvar t = \"\";\nif (!(d & 0b00010000)) //SKT1\n    t = \"O\";\nelse if (!(d & 0b00100000)) //SKT2\n    t = \"C\";\nelse \n    t = \"S\"\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":760,"wires":[["2aa34bab.5bfd24"]]},{"id":"e7d205ef.014de8","type":"comment","z":"59e2aa4.4d44054","name":"DoutStatus","info":"","x":100,"y":560,"wires":[]},{"id":"ff36cd66.b4cb2","type":"link in","z":"59e2aa4.4d44054","name":"DoutStatus","links":["fe8f7645.7ecb28"],"x":115,"y":600,"wires":[["ac95ee06.0658","61849c33.139b24"]]},{"id":"ac95ee06.0658","type":"function","z":"59e2aa4.4d44054","name":"Μαζεύει - b7:1, b6:0","func":"var d = parseInt(msg.payload);\nvar t = \"\";\n//         SK_C2              SK_C1\nif ((d & 0b10000000) && !(d & 0b01000000))\n    t = \"#e7f56e\";\nelse \n    t = \"#575c29\"\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":600,"wires":[["7f8b4404.95d87c"]]},{"id":"61849c33.139b24","type":"function","z":"59e2aa4.4d44054","name":"Απλώνει - b7:0, b6:1","func":"var d = parseInt(msg.payload);\nvar t = \"\";\n//         SK_C2              SK_C1\nif (!(d & 0b10000000) && (d & 0b01000000))\n    t = \"#fa071c\";\nelse \n    t = \"#3b0106\";\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":660,"wires":[["accb0311.67184"]]},{"id":"ed2962db.e7a8e","type":"comment","z":"331e38c7.51bfc8","name":"Node ID","info":"","x":740,"y":1280,"wires":[]},{"id":"94d73a92.4c6328","type":"ui_template","z":"331e38c7.51bfc8","group":"3c0cfcb2.6f9844","name":"NodeID","order":3,"width":"3","height":"2","format":"NodeID:\n<div style=\"padding: 10px\">\n  <span class=\"box1\" style=\"background-color: #98f5b1\">{{msg.payload}}</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1180,"y":1320,"wires":[[]]},{"id":"e158dc45.725de","type":"function","z":"331e38c7.51bfc8","name":"Μετατροπή σε HEX","func":"id = parseInt(msg.payload);\nmsg.payload = id.toString(16);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1320,"wires":[["94d73a92.4c6328"]]},{"id":"8d0d4319.33dbc","type":"ui_level","z":"331e38c7.51bfc8","group":"63711e7c.fac1d","order":2,"width":"4","height":"3","name":"RSSI","label":"RSSI","colorHi":"#25db00","colorWarn":"#ff9900","colorNormal":"#f92b06","colorOff":"#595959","min":"-120","max":"-50","segWarn":"-95","segHigh":"-75","unit":"dBm","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":750,"y":1160,"wires":[]},{"id":"7afd3201.25460c","type":"ui_template","z":"59e2aa4.4d44054","group":"c3c86d2c.dd633","name":"HR2","order":14,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 7px\">\n  <div style=\"color: white; text-align: center\">Ηλιακή ακτινοβολία</div><hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1010,"y":1140,"wires":[[]]},{"id":"37d5881d.979ec8","type":"ui_slider","z":"59e2aa4.4d44054","name":"MIN Irrad","label":"MIN (W/m²)","tooltip":"Η ελάχιστη τιμή της έντασης.","group":"c3c86d2c.dd633","order":15,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"50","max":"500","step":"10","x":1000,"y":1200,"wires":[[]]},{"id":"80c2673.c5f9898","type":"ui_slider","z":"59e2aa4.4d44054","name":"MAX Irrad","label":"MAX (W/m²)","tooltip":"Η μέγιστη επιτρεπτή τιμή της έντασης.","group":"c3c86d2c.dd633","order":16,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"400","max":"1000","step":"10","x":1000,"y":1260,"wires":[[]]},{"id":"ade8041.0f627f8","type":"ui_template","z":"59e2aa4.4d44054","group":"c3c86d2c.dd633","name":"HR3","order":17,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 7px\">\n  <div style=\"color: white; text-align: center\">Θερμοκρασίες</div><hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1010,"y":1320,"wires":[[]]},{"id":"64ce1fc7.8e28f","type":"ui_slider","z":"59e2aa4.4d44054","name":"SET EXT TEMP","label":"Εξωτερική (°C)","tooltip":"Η μέγιστη επιτρεπτή τιμή της εξωτερικής θερμοκρασίας.","group":"c3c86d2c.dd633","order":18,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"5","max":"35","step":"1","x":1020,"y":1380,"wires":[[]]},{"id":"c07af4d6.720ab8","type":"ui_slider","z":"59e2aa4.4d44054","name":"SET INT TEMP","label":"Εσωτερική (°C)","tooltip":"Η μέγιστη επιτρεπτή τιμή της εσωτερικής θερμοκρασίας.","group":"c3c86d2c.dd633","order":19,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"5","max":"35","step":"1","x":1020,"y":1440,"wires":[[]]},{"id":"462a0190.31af1","type":"inject","z":"59e2aa4.4d44054","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"22","payloadType":"num","x":620,"y":1380,"wires":[["64ce1fc7.8e28f"]]},{"id":"a6d93a78.b9cff8","type":"inject","z":"59e2aa4.4d44054","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":620,"y":1440,"wires":[["c07af4d6.720ab8"]]},{"id":"8dbedecf.6af59","type":"inject","z":"59e2aa4.4d44054","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":620,"y":1200,"wires":[["37d5881d.979ec8"]]},{"id":"f021b71f.b945f8","type":"inject","z":"59e2aa4.4d44054","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"830","payloadType":"num","x":620,"y":1260,"wires":[["80c2673.c5f9898"]]},{"id":"8260b4b5.be10c8","type":"ui_slider","z":"4c9ae3c9.90175c","name":"SET INT TEMP","label":"Εσ. Θερμ. (°C)","tooltip":"Πάνω από αυτή την τιμή ξεκινάει ο εξαερισμός.","group":"5e81eb87.168ea4","order":19,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"15","max":"35","step":"1","x":780,"y":580,"wires":[["6441e09e.7eb99"]]},{"id":"40982df7.f7be04","type":"function","z":"4c9ae3c9.90175c","name":"Θέσε αρχική τιμή","func":"var state = msg.payload;\nmsg.enabled = false;\nif (state == true)\n    msg.enabled = true;\nmsg.payload = flow.get('int_temp') || 27;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":580,"wires":[["8260b4b5.be10c8"]]},{"id":"6441e09e.7eb99","type":"function","z":"4c9ae3c9.90175c","name":"Θέσε Θερμοκρασία","func":"var int_temp = msg.payload;\nflow.set('int_temp', int_temp);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":580,"wires":[[]]},{"id":"b1cf429d.a3f83","type":"comment","z":"4c9ae3c9.90175c","name":"Εσωτερική θερμοκρασία","info":"","x":130,"y":740,"wires":[]},{"id":"92f0399.ac8fec8","type":"link in","z":"4c9ae3c9.90175c","name":"Είσοδος Εσωτερική Θερμοκρασία","links":["7faf8083.638a"],"x":135,"y":780,"wires":[["ad191c2c.44e99","874f2534.f2a3d8"]]},{"id":"ad191c2c.44e99","type":"function","z":"4c9ae3c9.90175c","name":"Αυτόματος εξαερισμός ","func":"var payload = parseFloat(msg.payload); //Από string σε float\nvar int_temp = flow.get('int_temp'); //Διάβασε εντολή\nvar air_auto = flow.get('air_auto'); //Διάβασε auto\nvar old_speed = context.get('old_speed');\nvar speed = 0; //Ταχύτητα 0 δηλ. σταματημένο\nif (air_auto) //Αν είναι στο αυτόματο\n   {\n    if (payload > int_temp) //Αν πέρασε την τιμή της εντολής\n       {\n        var d = payload - int_temp; //Βρες την διαφορά\n        if (d <= .5) //Αν είναι μέχρι 0,5 βαθμούς\n            speed = 1; //Αργή ταχύτητα\n        else if (d <= 1)\n            speed = 2;\n        else if (d <= 2)\n            speed = 3;\n        else if (d <= 3)\n            speed = 4;\n        else //Αν είναι πάνω από 3 βαθμούς\n            speed = 5 //Μέγιστη ταχύτητα\n        //Για να μη στέλνει κάθε λεπτό\n        if (old_speed != speed) //Αν υπήρξε αλλαγή σε σχέση με πριν\t\n           {\n            msg.payload = \"airspeed \" + speed;\n            old_speed = speed;\t\t\t\t\t\n           }\n        else\n            msg.payload = \"\";\n       }\n    else //Η θερμοκρασία είναι σωστή\n       {\n        speed = 0;\n        if (old_speed != speed) //Αν υπήρξε αλλαγή σε σχέση με πριν\t\n           {\n            msg.payload = \"airspeed 0\"; \n            old_speed = speed;\n           }\n        else\n            msg.payload = \"\";\n       }\n    context.set('old_speed', old_speed); //Αποθήκευσε τωρινή τιμή ως παλιά για μετά\n    flow.set('air_speed', speed);\n    if (msg.payload !== \"\")\n        return msg;\n   }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":780,"wires":[["63d9a4e4.c08c2c"]]},{"id":"20536524.136b9a","type":"ui_digital_display","z":"4c9ae3c9.90175c","name":"Ταχύτητα αέρα","group":"5e81eb87.168ea4","order":8,"width":"1","height":"1","digits":"1","decimals":"0","x":360,"y":620,"wires":[]},{"id":"874f2534.f2a3d8","type":"debug","z":"4c9ae3c9.90175c","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":860,"wires":[]},{"id":"3075615c.688e2e","type":"comment","z":"4c9ae3c9.90175c","name":"mqtt","info":"","x":1310,"y":360,"wires":[]},{"id":"865daee7.68524","type":"ui_chart","z":"331e38c7.51bfc8","name":"Εξωτερική γράφημα","group":"49a2db88.5c99e4","order":7,"width":"8","height":"7","label":"Εξωτερική Θερμοκρασία (°C)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffda24","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":400,"wires":[[]]},{"id":"32b18112.90fcfe","type":"ui_chart","z":"331e38c7.51bfc8","name":"Εσωτερική γράφημα","group":"49a2db88.5c99e4","order":7,"width":"8","height":"7","label":"Εσωτερική Θερμοκρασία (°C)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2bf702","#fd0814","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":480,"wires":[[]]},{"id":"a35d6cc8.6db9b","type":"ui_chart","z":"331e38c7.51bfc8","name":"Ηλιακή ακτινοβολία γράφημα","group":"5cc66a3d.2b4b54","order":7,"width":"8","height":"7","label":"Ένταση ηλιακής ακτινοβολίας (W/m²)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f1f505","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":760,"wires":[[]]},{"id":"ba12cd5c.ae5e3","type":"ui_chart","z":"331e38c7.51bfc8","name":"Υγρασία γράφημα","group":"e4713c1a.f46f7","order":7,"width":"8","height":"7","label":"Σχετική υγρασία (%)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3ae6fd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":640,"wires":[[]]},{"id":"6b023134.4d5eb","type":"ui_chart","z":"331e38c7.51bfc8","name":"Ph γράφημα","group":"accadb52.c147c8","order":7,"width":"8","height":"7","label":"Ph υποστρώματος","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"14","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff9896","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":720,"wires":[[]]},{"id":"74b4caf7.3a4b04","type":"change","z":"34cd7755.0d6818","name":"Μετατροπή","rules":[{"t":"change","p":"payload","pt":"msg","from":"F","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"O","fromt":"str","to":"1","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"Αντλία","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":780,"wires":[["9251bfa5.58a11"]]},{"id":"9251bfa5.58a11","type":"ui_chart","z":"34cd7755.0d6818","name":"Λειτουργία αντλίας γράφημα","group":"accadb52.c147c8","order":7,"width":"8","height":"7","label":"Αντλία (On / Off)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-.1","ymax":"1.1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#7bbcf9","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":780,"wires":[[]]},{"id":"f9749827.5fbc38","type":"link in","z":"331e38c7.51bfc8","name":"Γράφημα εσωτερική θερμοκρασία","links":["8a49dd5c.67deb"],"x":865,"y":300,"wires":[["32b18112.90fcfe"]]},{"id":"a7cfc9ff.e4e098","type":"change","z":"d1c0a1b2.1d74a","name":"Μετατροπή","rules":[{"t":"change","p":"payload","pt":"msg","from":"F","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"O","fromt":"str","to":"40","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Θερμαντικό (On/Off)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":860,"wires":[["8a49dd5c.67deb"]]},{"id":"8a49dd5c.67deb","type":"link out","z":"d1c0a1b2.1d74a","name":"Εσωτερική Θερμοκρασία Γράφημα","links":["f9749827.5fbc38"],"x":995,"y":860,"wires":[]},{"id":"e688b6da.c424a8","type":"comment","z":"d1c0a1b2.1d74a","name":"Προς Γράφημα εσωτερική Θερμοκρ.","info":"","x":1160,"y":860,"wires":[]},{"id":"a88601f6.0b155","type":"inject","z":"34cd7755.0d6818","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"D","payloadType":"str","x":170,"y":480,"wires":[["eb53147c.20b468"]]},{"id":"4f3e2181.fbea7","type":"inject","z":"34cd7755.0d6818","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"U","payloadType":"str","x":170,"y":540,"wires":[["eb53147c.20b468","5f384f1.5af77b"]]},{"id":"428dbca3.df0d84","type":"comment","z":"34cd7755.0d6818","name":"Παρουσιάζει τον χρόνο μέχρι να ξεκινήσει.","info":"Μετάει αντίστροφα ανά λεπτό μέχρι να ξεκινήσει το πότισμα.","x":900,"y":380,"wires":[]},{"id":"c6c0f9b.d4f0f08","type":"function","z":"34cd7755.0d6818","name":"Θέσε αρχική τιμή","func":"var payload = msg.payload;\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":260,"wires":[["3267cb59.1b5414"]]},{"id":"bbc061f.12650a","type":"function","z":"4c9ae3c9.90175c","name":"Θέσε αρχική τιμή","func":"var payload = msg.payload;\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":400,"wires":[["20536524.136b9a"]]},{"id":"83d801ff.76133","type":"inject","z":"59e2aa4.4d44054","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":420,"y":980,"wires":[["24e56188.44822e","b63709a3.a76b98","30cda96c.78ff96"]]},{"id":"8dc8984b.204248","type":"function","z":"59e2aa4.4d44054","name":"Θέσε αρχική τιμή","func":"var payload = msg.payload;\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":200,"wires":[["1e684b42.c4e615"]]},{"id":"b873afab.d1f57","type":"function","z":"59e2aa4.4d44054","name":"Σώσε τιμή βήματος","func":"var skia_step = msg.payload;\nflow.set('skia_step', skia_step);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":1080,"wires":[[]]},{"id":"6a55c1e9.751cc","type":"function","z":"59e2aa4.4d44054","name":"Σώσε τιμή μέγιστου ανοίγματος","func":"var skia_step_max = msg.payload;\nflow.set('skia_step_max', skia_step_max);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":1020,"wires":[[]]},{"id":"143f5786.ef26d8","type":"function","z":"59e2aa4.4d44054","name":"Σώσε τιμή χρόνου","func":"var skia_time = msg.payload;\nflow.set('skia_time', skia_time);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":960,"wires":[[]]},{"id":"24e56188.44822e","type":"function","z":"59e2aa4.4d44054","name":"Θέσε αρχική τιμή χρόνου","func":"msg.payload = flow.get('skia_time') || 12;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":960,"wires":[["f822f83c.1cbfe8"]]},{"id":"b63709a3.a76b98","type":"function","z":"59e2aa4.4d44054","name":"Θέσε αρχική τιμή μέγιστου ανοίγματος","func":"msg.payload = flow.get('skia_step_max') || 30;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":1020,"wires":[["a3f18584.ec8388"]]},{"id":"30cda96c.78ff96","type":"function","z":"59e2aa4.4d44054","name":"Θέσε αρχική τιμή βήματος","func":"msg.payload = flow.get('skia_step') || 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1080,"wires":[["e849590.a981fa8"]]},{"id":"2663acb5.96f294","type":"function","z":"59e2aa4.4d44054","name":"Θέσε αρχική τιμή Εν. Βημ","func":"msg.payload = flow.get('en_step') || false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":460,"wires":[["386517bb.17cd78"]]},{"id":"22cb5cb1.872654","type":"function","z":"59e2aa4.4d44054","name":"Σώσε τιμή Εν. Βήμα","func":"var en_step = msg.payload;\nflow.set('en_step', en_step);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":460,"wires":[[]]},{"id":"44a94451.cd8f0c","type":"function","z":"59e2aa4.4d44054","name":"Ενέργεια","func":"var en_step = flow.get('en_step');\nvar payload = \"\";\nvar t;\nif (en_step)\n   {\n    var mt = flow.get('skia_time');\n    mt *= 1000;\n    var stp = flow.get('skia_step');\n    t = parseInt((mt * stp) / 100);\n    payload = \"skiaop \" + t.toString();\n   }\nelse\n    payload = \"skiafop\";\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":380,"wires":[["2737b88b.011a58"]]},{"id":"403c396a.62f0f8","type":"function","z":"59e2aa4.4d44054","name":"Ενέργεια","func":"var en_step = flow.get('en_step');\nvar payload = \"\";\nvar t;\nif (en_step)\n   {\n    var mt = flow.get('skia_time');\n    mt *= 1000;\n    var stp = flow.get('skia_step');\n    t = parseInt((mt * stp) / 100);\n    payload = \"skiacl \" + t.toString();\n   }\nelse\n    payload = \"skiafcl\";\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":420,"wires":[["2737b88b.011a58"]]},{"id":"6f08de8.5b40a2","type":"function","z":"ea4d9b1.ea28168","name":"Μετατροπή μηνύματος","func":"var inp = msg.payload;\nvar w1op_pcent = flow.get('w1op_pcent');\nvar out=[];\nif (inp == \"O\")\n   {\n    payload = \"Ανοιχτό\";\n    flow.set('w1op_pcent', 100);\n    flow.set('w1open', true);\n    bg = \"#fafaa5\";\n   }\nelse if (inp == \"C\")\n   {\n    payload = \"Κλειστό\"\n    flow.set('w1op_pcent', 0);\n    flow.set('w1open', false);\n    bg = \"#03258c\";\n   }\nelse if (inp == \"S\")\n   {\n    payload = \"Βήμα \" + w1op_pcent.toString() + \"%\";\n    bg = \"#f2b233\";\n   }\nelse\n   {\n    payload = \"Αγνωστο\";\n    bg = \"#a7a8a7\";\n   }\nout.push(payload);\nout.push(bg);\n\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":620,"wires":[["f335f95f.089668"]]},{"id":"f335f95f.089668","type":"ui_template","z":"ea4d9b1.ea28168","group":"9ee66a6a.dfa618","name":"Κατάσταση παραθύρου","order":6,"width":"3","height":"2","format":"Κατ. παραθύρου:\n<div style=\"padding: 10px\">\n  <span class=\"box1\" style=\"background-color: {{msg.payload[1]}}\">{{msg.payload[0]}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1090,"y":620,"wires":[[]]},{"id":"febdd616.f2f308","type":"inject","z":"ea4d9b1.ea28168","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":280,"y":140,"wires":[["e01641db.5cba9"]]},{"id":"e01641db.5cba9","type":"function","z":"ea4d9b1.ea28168","name":"Αρχικοποίηση Auto","func":"var payload = msg.payload;\nvar w1_auto = flow.get('w1_auto') || payload;\nmsg.payload = w1_auto;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":140,"wires":[["5f598884.84c6b8"]]},{"id":"5f598884.84c6b8","type":"ui_switch","z":"ea4d9b1.ea28168","name":"Auto","label":"Αυτόματα","tooltip":"","group":"9ee66a6a.dfa618","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":890,"y":140,"wires":[["7e192583.2f4dac","d0dc95e3.677418","dbdaa38f.0babc","bf7988a4.e5edf8"]]},{"id":"7e192583.2f4dac","type":"function","z":"ea4d9b1.ea28168","name":"Θέσε τιμή Auto","func":"var payload = msg.payload;\nmsg.enabled = true;\nif (payload == true)\n    msg.enabled = false;\nflow.set('w1_auto', payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":240,"wires":[["1a8f2369.7af98d","b367f2f2.b4dab","42cc5996.6dc4c8"]]},{"id":"d0dc95e3.677418","type":"function","z":"ea4d9b1.ea28168","name":"Θέσε αρχική τιμή","func":"var payload = msg.payload;\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = flow.get('w1_delay') || 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":380,"wires":[["ef8a4e8c.d60d4"]]},{"id":"1a8f2369.7af98d","type":"ui_button","z":"ea4d9b1.ea28168","name":"Άνοιξε","group":"9ee66a6a.dfa618","order":1,"width":"2","height":1,"passthru":false,"label":"Άνοιξε","tooltip":"Μαζεύει κουρτίνες ώστε να περάσει περισσότερο φως","color":"#000020","bgcolor":"#7ff8fa","icon":"","payload":"winfop","payloadType":"str","topic":"payload","topicType":"msg","x":870,"y":240,"wires":[["46166c5e.5a6ef4"]]},{"id":"b367f2f2.b4dab","type":"ui_button","z":"ea4d9b1.ea28168","name":"Κλείσε","group":"9ee66a6a.dfa618","order":4,"width":"2","height":1,"passthru":false,"label":"Κλείσε","tooltip":"Απλώνει τις κουρτίνες και κόβει ήλιο","color":"","bgcolor":"#061ecf","icon":"","payload":"winfcl","payloadType":"str","topic":"payload","topicType":"msg","x":870,"y":280,"wires":[["ba2c7bac.a69978"]]},{"id":"ef8a4e8c.d60d4","type":"ui_slider","z":"ea4d9b1.ea28168","name":"Έλεγχος κάθε Ν λεπτά","label":"Έλεγχος (min)","tooltip":"Χρονικό διάστημα ελέγχου και απόφασης. ","group":"9ee66a6a.dfa618","order":9,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":"30","step":"1","x":900,"y":380,"wires":[["913f7d9c.149fd"]]},{"id":"913f7d9c.149fd","type":"function","z":"ea4d9b1.ea28168","name":"Θέσε τιμή Χρονοδιακόπτη","func":"var w1_delay = msg.payload;\nflow.set('w1_delay', w1_delay);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":380,"wires":[[]]},{"id":"95af9dd6.9f73d","type":"ui_template","z":"ea4d9b1.ea28168","group":"9ee66a6a.dfa618","name":"LED Ανοίγει","order":2,"width":1,"height":"1","format":"<style>\n.led {\n float: right;\n padding: 1px;\n width: 15px;\n height: 15px;\n /*margin: 5px 5px 5px 5px;*/\n margin: 10px;\n border-radius: 50%;\n}\n</style>\n\n<div style=\"padding-top: 3px\" title=\"Ανοίγει\"><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload}} 0 3px 18px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":460,"wires":[[]]},{"id":"d32867af.9de2a8","type":"ui_template","z":"ea4d9b1.ea28168","group":"9ee66a6a.dfa618","name":"LED Κλείνει","order":5,"width":1,"height":"1","format":"<style>\n.led {\n float: right;\n padding: 1px;\n width: 15px;\n height: 15px;\n /*margin: 5px 5px 5px 5px;*/\n margin: 10px;\n border-radius: 50%;\n}\n</style>\n\n<div style=\"padding-top: 3px\" title=\"Κλείνει\"><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload}} 0 3px 18px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":520,"wires":[[]]},{"id":"6f248253.d7922c","type":"ui_digital_display","z":"ea4d9b1.ea28168","name":"","group":"9ee66a6a.dfa618","order":8,"width":"1","height":"1","digits":"2","decimals":"0","x":1060,"y":580,"wires":[]},{"id":"a4d898d.0321a68","type":"ui_template","z":"ea4d9b1.ea28168","group":"9ee66a6a.dfa618","name":"HR1","order":10,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 7px\">\n  <div style=\"color: white; text-align: center\">Ρύθμιση Βήματος</div><hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":990,"y":860,"wires":[[]]},{"id":"b736fd18.36ab5","type":"ui_text_input","z":"ea4d9b1.ea28168","name":"Μέγιστος χρόνος","label":"Χρόνος διαδρομής:","tooltip":"Ο μέγιστος χρόνος διαδρομής σε sec.","group":"9ee66a6a.dfa618","order":11,"width":"3","height":"1","passthru":false,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1030,"y":900,"wires":[["79640ca5.a50944"]]},{"id":"e7c3502a.e607c","type":"ui_numeric","z":"ea4d9b1.ea28168","name":"Βήμα","label":"Βήμα:","tooltip":"Επιλέξτε το ποσοστό βήματος %","group":"9ee66a6a.dfa618","order":13,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"20","step":"1","x":990,"y":940,"wires":[["da7a4c20.9c2db"]]},{"id":"a1bcd608.3810b8","type":"link out","z":"ea4d9b1.ea28168","name":"Προς εντολές mqtt","links":["a5f8aaaf.8cba58"],"x":1515,"y":240,"wires":[]},{"id":"4f527213.0c5bdc","type":"ui_switch","z":"ea4d9b1.ea28168","name":"Test Βήμα","label":"Stp","tooltip":"Ενεργοποιεί την δοκιμή βήματος.","group":"9ee66a6a.dfa618","order":7,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":900,"y":320,"wires":[["2a0a4313.4d695c"]]},{"id":"a2537099.d8f46","type":"comment","z":"ea4d9b1.ea28168","name":"DinStatus","info":"","x":100,"y":580,"wires":[]},{"id":"f48e6633.2995b8","type":"link in","z":"ea4d9b1.ea28168","name":"DinStatus","links":["c7670a48.7f1438"],"x":115,"y":620,"wires":[["e2a3eb2.dfdc518"]]},{"id":"e2a3eb2.dfdc518","type":"function","z":"ea4d9b1.ea28168","name":"Κατάσταση παραθύρου 1 - b0, b1","func":"var d = parseInt(msg.payload);\nvar t = \"\";\nif (!(d & 0b00000001)) //W1T1\n    t = \"O\";\nelse if (!(d & 0b00000010)) //W1T2\n    t = \"C\";\nelse if (d & 0b00000011)\n    t = \"S\"\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":620,"wires":[["6f08de8.5b40a2"]]},{"id":"39154788.29af58","type":"comment","z":"ea4d9b1.ea28168","name":"DoutStatus","info":"","x":100,"y":420,"wires":[]},{"id":"7df34296.1a4d1c","type":"link in","z":"ea4d9b1.ea28168","name":"DoutStatus","links":["fe8f7645.7ecb28"],"x":115,"y":460,"wires":[["333d12f0.832e0e","265049a.54820b6"]]},{"id":"333d12f0.832e0e","type":"function","z":"ea4d9b1.ea28168","name":"Ανοίγει - b3:1, b2:0","func":"var d = parseInt(msg.payload);\nvar t = \"\";\n//         W1_C2              W1_C1\nif ((d & 0b00001000) && !(d & 0b00000100))\n    t = \"#e7f56e\";\nelse \n    t = \"#575c29\"\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":460,"wires":[["95af9dd6.9f73d"]]},{"id":"265049a.54820b6","type":"function","z":"ea4d9b1.ea28168","name":"Κλείνει - b3:0, b2:1","func":"var d = parseInt(msg.payload);\nvar t = \"\";\n//         W1_C2              W1_C1\nif (!(d & 0b00001000) && (d & 0b00000100))\n    t = \"#fa071c\";\nelse \n    t = \"#3b0106\";\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":520,"wires":[["d32867af.9de2a8"]]},{"id":"70f3235d.54330c","type":"ui_template","z":"ea4d9b1.ea28168","group":"9ee66a6a.dfa618","name":"HR3","order":17,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 7px\">\n  <div style=\"color: white; text-align: center\">Θερμοκρασία</div><hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":990,"y":980,"wires":[[]]},{"id":"f41ddaed.f147c8","type":"ui_slider","z":"ea4d9b1.ea28168","name":"SET INT TEMP","label":"Εσωτερική (°C)","tooltip":"Η μέγιστη επιτρεπτή τιμή της εσωτερικής θερμοκρασίας.","group":"9ee66a6a.dfa618","order":19,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"5","max":"35","step":"1","x":1020,"y":1020,"wires":[["90116f6c.9aca6"]]},{"id":"119bdebc.237b71","type":"inject","z":"ea4d9b1.ea28168","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":320,"y":1000,"wires":[["e63418dd.9c33d8","e1fdf2dc.5e164"]]},{"id":"dbdaa38f.0babc","type":"function","z":"ea4d9b1.ea28168","name":"Θέσε αρχική τιμή","func":"var payload = msg.payload;\nflow.set('isRunning', false);\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":420,"wires":[["6f248253.d7922c"]]},{"id":"da7a4c20.9c2db","type":"function","z":"ea4d9b1.ea28168","name":"Σώσε τιμή βήματος","func":"var w1_step = msg.payload;\nflow.set('w1_step', w1_step);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":940,"wires":[[]]},{"id":"79640ca5.a50944","type":"function","z":"ea4d9b1.ea28168","name":"Σώσε τιμή χρόνου","func":"var w1_time = msg.payload;\nflow.set('w1_time', w1_time);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":900,"wires":[[]]},{"id":"e63418dd.9c33d8","type":"function","z":"ea4d9b1.ea28168","name":"Θέσε αρχική τιμή χρόνου","func":"msg.payload = flow.get('w1_time') || 1.3;\nflow.set('w1_time', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":900,"wires":[["b736fd18.36ab5"]]},{"id":"e1fdf2dc.5e164","type":"function","z":"ea4d9b1.ea28168","name":"Θέσε αρχική τιμή βήματος","func":"msg.payload = flow.get('w1_step') || 20;\nflow.set('w1_step', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":940,"wires":[["e7c3502a.e607c"]]},{"id":"42cc5996.6dc4c8","type":"function","z":"ea4d9b1.ea28168","name":"Θέσε αρχική τιμή Εν. Βημ","func":"msg.payload = flow.get('w1en_step') || false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":320,"wires":[["4f527213.0c5bdc"]]},{"id":"2a0a4313.4d695c","type":"function","z":"ea4d9b1.ea28168","name":"Σώσε τιμή Εν. Βήμα","func":"var w1en_step = msg.payload;\nflow.set('w1en_step', w1en_step);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":320,"wires":[[]]},{"id":"46166c5e.5a6ef4","type":"function","z":"ea4d9b1.ea28168","name":"Ενέργεια","func":"var w1en_step = flow.get('w1en_step');\nvar payload = \"\";\nvar t;\nif (w1en_step)\n   {\n    var w1op_pcent = flow.get('w1op_pcent');\n    var mt = flow.get('w1_time');\n    mt *= 1000;\n    var stp = flow.get('w1_step');\n    w1op_pcent += stp;\n    flow.set('w1op_pcent', w1op_pcent);\n    t = parseInt((mt * stp) / 100);\n    payload = \"winop 1 \" + t.toString();\n   }\nelse\n    payload = \"winfop 1\";\nmsg.payload = payload;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":240,"wires":[["a1bcd608.3810b8"]]},{"id":"ba2c7bac.a69978","type":"function","z":"ea4d9b1.ea28168","name":"Ενέργεια","func":"var w1en_step = flow.get('w1en_step');\nvar payload = \"\";\nvar t;\nif (w1en_step)\n   {\n    var mt = flow.get('w1_time');\n    mt *= 1000;\n    var stp = flow.get('w1_step');\n    t = parseInt((mt * stp) / 100);\n    payload = \"wincl 1 \" + t.toString();\n   }\nelse\n    payload = \"winfcl 1\";\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":280,"wires":[["a1bcd608.3810b8"]]},{"id":"bf7988a4.e5edf8","type":"function","z":"ea4d9b1.ea28168","name":"Θέσε αρχική τιμή θερμοκρασίας","func":"var state = msg.payload;\nmsg.enabled = false;\nif (state == true)\n    msg.enabled = true;\nmsg.payload = flow.get('w1_temp') || 28;\nflow.set('w1_temp', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1020,"wires":[["f41ddaed.f147c8"]]},{"id":"90116f6c.9aca6","type":"function","z":"ea4d9b1.ea28168","name":"Σώσε τιμή θερμοκρασίας","func":"var w1_temp = msg.payload;\nflow.set('w1_temp', w1_temp);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":1020,"wires":[[]]},{"id":"f0e8b6d6.414ab8","type":"function","z":"ea4d9b1.ea28168","name":"Προετοιμασία","func":"var t = flow.get('w1_delay'); //Διάβασε τιμή του Delay\nvar w1_auto = flow.get('w1_auto'); //Είναι στο αυτόματο\nvar isRunning = flow.get('isRunning') || false; \nif (w1_auto) //Αν είναι σε κατάσταση auto\n   {\n    if (!isRunning) //Αν δεν μετράει χρόνο\n       {\n        isRunning = true; //Τότε μετράει ο χρόνος\n        flow.set('isRunning', isRunning); //Θέσε το flag\n        msg.payload = t; //Βάλε στο payload την τιμή του μετρητή\n        return msg; //Επιστροφή\n       }\n   }\n   ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":720,"wires":[["2e3c8412.723fec"]]},{"id":"d6041fbd.6d589","type":"function","z":"ea4d9b1.ea28168","name":"Μετρητής","func":"t = msg.payload; //Πάρε τιμή χρόνου από το προηγούμενο block\nvar isRunning = flow.get('isRunning'); //Μετράει\nif ((t > 0) && isRunning) //Αν ο χρόνος δεν έφτασε στο 0 και ακόμη μετράει\n   {\n    t -= 1; //Μείωσε κατά 1 λεπτό\n    msg.payload = t; //Βάλτο στο payload ώστε να επιστρέψει με καθυστέρηση 1 λεπτό\n    return msg;\n   }\nelse //Αλλίως ο χρόνος έφτασε στο 0 ή δεν μετράει\n    isRunning = false; //Θέσε flag\nflow.set('isRunning', isRunning); //Αποθήκευσε flag","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":720,"wires":[["92625554.ba4918","2e3c8412.723fec","6f248253.d7922c"]]},{"id":"2e3c8412.723fec","type":"delay","z":"ea4d9b1.ea28168","name":"Delay 1min","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":720,"wires":[["d6041fbd.6d589"]]},{"id":"37a689a0.0535b6","type":"function","z":"ea4d9b1.ea28168","name":"Όταν περάσει ο χρόνος έλεγχος και δράση","func":"var w1_temp = flow.get('w1_temp');\nvar openflag = flow.get('w1open');\nif (msg.payload.time <= 0)\n   {\n    if ((parseInt(msg.payload.temp) > w1_temp) && !openflag)\n        msg.payload = \"winfop 1\";\n    else if ((parseInt(msg.payload.temp) < (w1_temp - .5)) && openflag)\n        msg.payload = \"winfcl 1\";\n    else\n        msg.payload = \"\";\n    flow.set('isRunning', false);\n    if (msg.payload !== \"\")\n        return msg;\n   }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":720,"wires":[["a1bcd608.3810b8"]]},{"id":"a684239d.ca62e","type":"comment","z":"ea4d9b1.ea28168","name":"Εσωτερική θερμοκρασία","info":"","x":110,"y":820,"wires":[]},{"id":"68dea4bc.5afd2c","type":"link in","z":"ea4d9b1.ea28168","name":"Είσοδος Εσωτερική Θερμοκρασία","links":["7faf8083.638a"],"x":115,"y":780,"wires":[["f0e8b6d6.414ab8","4d282779.036768"]]},{"id":"3897c4d8.5756ac","type":"join","z":"ea4d9b1.ea28168","name":"Ένωσε 2 μηνύματα","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":780,"wires":[["37a689a0.0535b6"]]},{"id":"4d282779.036768","type":"change","z":"ea4d9b1.ea28168","name":"Θέσε topic 'temp'","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":780,"wires":[["3897c4d8.5756ac"]]},{"id":"92625554.ba4918","type":"change","z":"ea4d9b1.ea28168","name":"Θέσε topic 'time'","rules":[{"t":"set","p":"topic","pt":"msg","to":"time","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":720,"wires":[["3897c4d8.5756ac"]]},{"id":"1a8f55e1.38c97a","type":"function","z":"4e25790b.307598","name":"Μετατροπή μηνύματος","func":"var inp = msg.payload;\nvar w2op_pcent = flow.get('w2op_pcent');\nvar out=[];\nif (inp == \"O\")\n   {\n    payload = \"Ανοιχτό\";\n    flow.set('w2op_pcent', 100);\n    flow.set('w2open', true);\n    bg = \"#fafaa5\";\n   }\nelse if (inp == \"C\")\n   {\n    payload = \"Κλειστό\"\n    flow.set('w2op_pcent', 0);\n    flow.set('w2open', false);\n    bg = \"#03258c\";\n   }\nelse if (inp == \"S\")\n   {\n    payload = \"Βήμα \"; // + w2op_pcent.toString() + \"%\";\n    bg = \"#f2b233\";\n   }\nelse\n   {\n    payload = \"Αγνωστο\";\n    bg = \"#a7a8a7\";\n   }\nout.push(payload);\nout.push(bg);\n\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":640,"wires":[["f6cdae3f.f7674"]]},{"id":"f6cdae3f.f7674","type":"ui_template","z":"4e25790b.307598","group":"b8de755.3afc688","name":"Κατάσταση παραθύρου","order":6,"width":"3","height":"2","format":"Κατ. παραθύρου:\n<div style=\"padding: 10px\">\n  <span class=\"box1\" style=\"background-color: {{msg.payload[1]}}\">{{msg.payload[0]}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1130,"y":640,"wires":[[]]},{"id":"8d5dbec2.b1084","type":"inject","z":"4e25790b.307598","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":320,"y":160,"wires":[["72b77612.dbfe88"]]},{"id":"72b77612.dbfe88","type":"function","z":"4e25790b.307598","name":"Αρχικοποίηση Auto","func":"var payload = msg.payload;\nvar w2_auto = flow.get('w2_auto') || payload;\nmsg.payload = w2_auto;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":160,"wires":[["300bffa0.92854"]]},{"id":"300bffa0.92854","type":"ui_switch","z":"4e25790b.307598","name":"Auto","label":"Αυτόματα","tooltip":"","group":"b8de755.3afc688","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":930,"y":160,"wires":[["feb6b378.15809","67574f54.6d725","83be56e4.788e18","bfa282c.6a7d28"]]},{"id":"feb6b378.15809","type":"function","z":"4e25790b.307598","name":"Θέσε τιμή Auto","func":"var payload = msg.payload;\nmsg.enabled = true;\nif (payload == true)\n    msg.enabled = false;\nflow.set('w2_auto', payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["ed6996e9.22e2b8","ea18b0a.2f8d95","cf3419c8.879fd8"]]},{"id":"67574f54.6d725","type":"function","z":"4e25790b.307598","name":"Θέσε αρχική τιμή","func":"var payload = msg.payload;\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = flow.get('w2_delay') || 12;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":400,"wires":[["789a2d37.2be834"]]},{"id":"ed6996e9.22e2b8","type":"ui_button","z":"4e25790b.307598","name":"Άνοιξε","group":"b8de755.3afc688","order":1,"width":"2","height":1,"passthru":false,"label":"Άνοιξε","tooltip":"Μαζεύει κουρτίνες ώστε να περάσει περισσότερο φως","color":"#000020","bgcolor":"#7ff8fa","icon":"","payload":"winfop","payloadType":"str","topic":"payload","topicType":"msg","x":910,"y":260,"wires":[["92205987.b18d28"]]},{"id":"ea18b0a.2f8d95","type":"ui_button","z":"4e25790b.307598","name":"Κλείσε","group":"b8de755.3afc688","order":4,"width":"2","height":1,"passthru":false,"label":"Κλείσε","tooltip":"Απλώνει τις κουρτίνες και κόβει ήλιο","color":"","bgcolor":"#061ecf","icon":"","payload":"winfcl","payloadType":"str","topic":"payload","topicType":"msg","x":910,"y":300,"wires":[["8c614502.5ce7b8"]]},{"id":"789a2d37.2be834","type":"ui_slider","z":"4e25790b.307598","name":"Έλεγχος κάθε Ν λεπτά","label":"Έλεγχος (min)","tooltip":"Χρονικό διάστημα ελέγχου και απόφασης. ","group":"b8de755.3afc688","order":9,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":"30","step":"1","x":940,"y":400,"wires":[["e6428121.0bf5b"]]},{"id":"e6428121.0bf5b","type":"function","z":"4e25790b.307598","name":"Θέσε τιμή Χρονοδιακόπτη","func":"var w2_delay = msg.payload;\nflow.set('w2_delay', w2_delay);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":400,"wires":[[]]},{"id":"cd317ea8.060a4","type":"ui_template","z":"4e25790b.307598","group":"b8de755.3afc688","name":"LED Ανοίγει","order":2,"width":1,"height":"1","format":"<style>\n.led {\n float: right;\n padding: 1px;\n width: 15px;\n height: 15px;\n /*margin: 5px 5px 5px 5px;*/\n margin: 10px;\n border-radius: 50%;\n}\n</style>\n\n<div style=\"padding-top: 3px\" title=\"Ανοίγει\"><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload}} 0 3px 18px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":910,"y":480,"wires":[[]]},{"id":"88bb8748.081f08","type":"ui_template","z":"4e25790b.307598","group":"b8de755.3afc688","name":"LED Κλείνει","order":5,"width":1,"height":"1","format":"<style>\n.led {\n float: right;\n padding: 1px;\n width: 15px;\n height: 15px;\n /*margin: 5px 5px 5px 5px;*/\n margin: 10px;\n border-radius: 50%;\n}\n</style>\n\n<div style=\"padding-top: 3px\" title=\"Κλείνει\"><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload}} 0 3px 18px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":910,"y":540,"wires":[[]]},{"id":"555da82.b8ad258","type":"ui_digital_display","z":"4e25790b.307598","name":"","group":"b8de755.3afc688","order":8,"width":"1","height":"1","digits":"2","decimals":"0","x":1100,"y":600,"wires":[]},{"id":"d55300b1.a4e4","type":"ui_template","z":"4e25790b.307598","group":"b8de755.3afc688","name":"HR1","order":10,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 7px\">\n  <div style=\"color: white; text-align: center\">Ρύθμιση Βήματος</div><hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1030,"y":880,"wires":[[]]},{"id":"29249a6.2764f66","type":"ui_text_input","z":"4e25790b.307598","name":"Μέγιστος χρόνος","label":"Χρόνος διαδρομής:","tooltip":"Ο μέγιστος χρόνος διαδρομής σε sec.","group":"b8de755.3afc688","order":11,"width":"3","height":"1","passthru":false,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":1070,"y":920,"wires":[["d33835c8.8f1768"]]},{"id":"aa13b6fb.fb1458","type":"ui_numeric","z":"4e25790b.307598","name":"Βήμα","label":"Βήμα:","tooltip":"Επιλέξτε το ποσοστό βήματος %","group":"b8de755.3afc688","order":13,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"20","step":"1","x":1030,"y":960,"wires":[["b4b75f57.c9a33"]]},{"id":"10f1bf71.cf36c1","type":"link out","z":"4e25790b.307598","name":"Προς εντολές mqtt","links":["a5f8aaaf.8cba58"],"x":1555,"y":260,"wires":[]},{"id":"dd589ccf.9837c","type":"ui_switch","z":"4e25790b.307598","name":"Test Βήμα","label":"Stp","tooltip":"Ενεργοποιεί την δοκιμή βήματος.","group":"b8de755.3afc688","order":7,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":940,"y":340,"wires":[["9eb5be6f.f27bf"]]},{"id":"19c51da9.beecc2","type":"comment","z":"4e25790b.307598","name":"DinStatus","info":"","x":140,"y":600,"wires":[]},{"id":"ef71b95.c6fa548","type":"link in","z":"4e25790b.307598","name":"DinStatus","links":["c7670a48.7f1438"],"x":155,"y":640,"wires":[["8c4e2737.6c06f8"]]},{"id":"8c4e2737.6c06f8","type":"function","z":"4e25790b.307598","name":"Κατάσταση παραθύρου 2 - b2, b3","func":"var d = parseInt(msg.payload);\nvar t = \"\";\nif (!(d & 0b00000100)) //W2T1\n    t = \"O\";\nelse if (!(d & 0b00001000)) //W2T2\n    t = \"C\";\nelse if (d & 0b00001100)\n    t = \"S\"\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["1a8f55e1.38c97a"]]},{"id":"bad5dc71.1e6d7","type":"comment","z":"4e25790b.307598","name":"DoutStatus","info":"","x":140,"y":440,"wires":[]},{"id":"d121d9cf.a351f8","type":"link in","z":"4e25790b.307598","name":"DoutStatus","links":["fe8f7645.7ecb28"],"x":155,"y":480,"wires":[["d3f6cf70.32073","70d930e4.ab74d"]]},{"id":"d3f6cf70.32073","type":"function","z":"4e25790b.307598","name":"Ανοίγει - b5:1, b4:0","func":"var d = parseInt(msg.payload);\nvar t = \"\";\n//         W2_C2              W2_C1\nif ((d & 0b00100000) && !(d & 0b00010000))\n    t = \"#e7f56e\";\nelse \n    t = \"#575c29\"\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":480,"wires":[["cd317ea8.060a4"]]},{"id":"70d930e4.ab74d","type":"function","z":"4e25790b.307598","name":"Κλείνει - b5:0, b4:1","func":"var d = parseInt(msg.payload);\nvar t = \"\";\n//         W2_C2              W2_C1\nif (!(d & 0b00100000) && (d & 0b00010000))\n    t = \"#fa071c\";\nelse \n    t = \"#3b0106\";\nmsg.payload = t;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":540,"wires":[["88bb8748.081f08"]]},{"id":"5f7dd7f9.4575e8","type":"ui_template","z":"4e25790b.307598","group":"b8de755.3afc688","name":"HR3","order":17,"width":"6","height":"1","format":"<style>\n hr {\n    display: block;\n    height: 1px;\n    border: 0;\n    border-top: 2px solid #ccc;\n    margin: 2px;\n    padding: 0;\n}\n\n</style>\n\n<div style=\"padding-top: 7px\">\n  <div style=\"color: white; text-align: center\">Θερμοκρασία</div><hr>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1030,"y":1000,"wires":[[]]},{"id":"6ef62283.36ae8c","type":"ui_slider","z":"4e25790b.307598","name":"SET INT TEMP","label":"Εσωτερική (°C)","tooltip":"Η μέγιστη επιτρεπτή τιμή της εσωτερικής θερμοκρασίας.","group":"b8de755.3afc688","order":19,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"5","max":"35","step":"1","x":1060,"y":1040,"wires":[["5d88cdb4.ca3dd4"]]},{"id":"9cb62b5a.ded7c8","type":"inject","z":"4e25790b.307598","name":"Ξεκίνημα","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":360,"y":1020,"wires":[["4d560e56.65586","66496bf0.e7f524"]]},{"id":"83be56e4.788e18","type":"function","z":"4e25790b.307598","name":"Θέσε αρχική τιμή","func":"var payload = msg.payload;\nflow.set('isRunning', false);\nmsg.enabled = false;\nif (payload == true)\n    msg.enabled = true;\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":440,"wires":[["555da82.b8ad258"]]},{"id":"b4b75f57.c9a33","type":"function","z":"4e25790b.307598","name":"Σώσε τιμή βήματος","func":"var w2_step = msg.payload;\nflow.set('w2_step', w2_step);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":960,"wires":[[]]},{"id":"d33835c8.8f1768","type":"function","z":"4e25790b.307598","name":"Σώσε τιμή χρόνου","func":"var w2_time = msg.payload;\nflow.set('w2_time', w2_time);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":920,"wires":[[]]},{"id":"4d560e56.65586","type":"function","z":"4e25790b.307598","name":"Θέσε αρχική τιμή χρόνου","func":"msg.payload = flow.get('w2_time') || 1.3;\nflow.set('w2_time', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":920,"wires":[["29249a6.2764f66"]]},{"id":"66496bf0.e7f524","type":"function","z":"4e25790b.307598","name":"Θέσε αρχική τιμή βήματος","func":"msg.payload = flow.get('w2_step') || 20;\nflow.set('w2_step', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":960,"wires":[["aa13b6fb.fb1458"]]},{"id":"cf3419c8.879fd8","type":"function","z":"4e25790b.307598","name":"Θέσε αρχική τιμή Εν. Βημ","func":"msg.payload = flow.get('w2en_step') || false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":340,"wires":[["dd589ccf.9837c"]]},{"id":"9eb5be6f.f27bf","type":"function","z":"4e25790b.307598","name":"Σώσε τιμή Εν. Βήμα","func":"var w2en_step = msg.payload;\nflow.set('w2en_step', w2en_step);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":340,"wires":[[]]},{"id":"92205987.b18d28","type":"function","z":"4e25790b.307598","name":"Ενέργεια","func":"var w2en_step = flow.get('w2en_step');\nvar payload = \"\";\nvar t;\nif (w2en_step)\n   {\n    var w2op_pcent = flow.get('w2op_pcent');\n    var mt = flow.get('w2_time');\n    mt *= 1000;\n    var stp = flow.get('w2_step');\n    w2op_pcent += stp;\n    flow.set('w2op_pcent', w2op_pcent);\n    t = parseInt((mt * stp) / 100);\n    payload = \"winop 2 \" + t.toString();\n   }\nelse\n    payload = \"winfop 2\";\nmsg.payload = payload;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":260,"wires":[["10f1bf71.cf36c1"]]},{"id":"8c614502.5ce7b8","type":"function","z":"4e25790b.307598","name":"Ενέργεια","func":"var w2en_step = flow.get('w2en_step');\nvar payload = \"\";\nvar t;\nif (w2en_step)\n   {\n    var mt = flow.get('w2_time');\n    mt *= 1000;\n    var stp = flow.get('w2_step');\n    t = parseInt((mt * stp) / 100);\n    payload = \"wincl 2 \" + t.toString();\n   }\nelse\n    payload = \"winfcl 2\";\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":300,"wires":[["10f1bf71.cf36c1"]]},{"id":"bfa282c.6a7d28","type":"function","z":"4e25790b.307598","name":"Θέσε αρχική τιμή θερμοκρασίας","func":"var state = msg.payload;\nmsg.enabled = false;\nif (state == true)\n    msg.enabled = true;\nmsg.payload = flow.get('w2_temp') || 28;\nflow.set('w2_temp', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1040,"wires":[["6ef62283.36ae8c"]]},{"id":"5d88cdb4.ca3dd4","type":"function","z":"4e25790b.307598","name":"Σώσε τιμή θερμοκρασίας","func":"var w2_temp = msg.payload;\nflow.set('w2_temp', w2_temp);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":1040,"wires":[[]]},{"id":"80cfa3ad.fa0a9","type":"function","z":"4e25790b.307598","name":"Προετοιμασία","func":"var t = flow.get('w2_delay'); //Διάβασε τιμή του Delay\nvar w2_auto = flow.get('w2_auto'); //Είναι στο αυτόματο\nvar isRunning = flow.get('isRunning') || false; \nif (w2_auto) //Αν είναι σε κατάσταση auto\n   {\n    if (!isRunning) //Αν δεν μετράει χρόνο\n       {\n        isRunning = true; //Τότε μετράει ο χρόνος\n        flow.set('isRunning', isRunning); //Θέσε το flag\n        msg.payload = t; //Βάλε στο payload την τιμή του μετρητή\n        return msg; //Επιστροφή\n       }\n   }\n   ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":740,"wires":[["d1064d00.3c2db"]]},{"id":"d1cf5c19.3ee9a","type":"function","z":"4e25790b.307598","name":"Μετρητής","func":"t = msg.payload; //Πάρε τιμή χρόνου από το προηγούμενο block\nvar isRunning = flow.get('isRunning'); //Μετράει\nif ((t > 0) && isRunning) //Αν ο χρόνος δεν έφτασε στο 0 και ακόμη μετράει\n   {\n    t -= 1; //Μείωσε κατά 1 λεπτό\n    msg.payload = t; //Βάλτο στο payload ώστε να επιστρέψει με καθυστέρηση 1 λεπτό\n    return msg;\n   }\nelse //Αλλίως ο χρόνος έφτασε στο 0 ή δεν μετράει\n    isRunning = false; //Θέσε flag\nflow.set('isRunning', isRunning); //Αποθήκευσε flag","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":740,"wires":[["a34bf4a6.036208","d1064d00.3c2db","555da82.b8ad258"]]},{"id":"d1064d00.3c2db","type":"delay","z":"4e25790b.307598","name":"Delay 1min","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":740,"wires":[["d1cf5c19.3ee9a"]]},{"id":"f744c20.6b4654","type":"function","z":"4e25790b.307598","name":"Όταν περάσει ο χρόνος έλεγχος και δράση","func":"var w2_temp = flow.get('w2_temp');\nvar openflag = flow.get('w2open');\nif (msg.payload.time <= 0)\n   {\n    if ((parseInt(msg.payload.temp) > w2_temp) && !openflag)\n        msg.payload = \"winfop 2\";\n    else if ((parseInt(msg.payload.temp) < (w2_temp - .5)) && openflag)\n        msg.payload = \"winfcl 2\";\n    else\n        msg.payload = \"\";\n    flow.set('isRunning', false);\n    if (msg.payload !== \"\")\n        return msg;\n   }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":740,"wires":[["10f1bf71.cf36c1"]]},{"id":"15926998.aa7cf6","type":"comment","z":"4e25790b.307598","name":"Εσωτερική θερμοκρασία","info":"","x":150,"y":840,"wires":[]},{"id":"57ccc09a.fe04","type":"link in","z":"4e25790b.307598","name":"Είσοδος Εσωτερική Θερμοκρασία","links":["7faf8083.638a"],"x":155,"y":800,"wires":[["80cfa3ad.fa0a9","fe51a75d.9d3098"]]},{"id":"fc97c0f.914c64","type":"join","z":"4e25790b.307598","name":"Ένωσε 2 μηνύματα","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":800,"wires":[["f744c20.6b4654"]]},{"id":"fe51a75d.9d3098","type":"change","z":"4e25790b.307598","name":"Θέσε topic 'temp'","rules":[{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":800,"wires":[["fc97c0f.914c64"]]},{"id":"a34bf4a6.036208","type":"change","z":"4e25790b.307598","name":"Θέσε topic 'time'","rules":[{"t":"set","p":"topic","pt":"msg","to":"time","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":740,"wires":[["fc97c0f.914c64"]]},{"id":"29246b70.c86f84","type":"debug","z":"d1c0a1b2.1d74a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1810,"y":700,"wires":[]},{"id":"de68e3e4.ede6d","type":"link out","z":"d1c0a1b2.1d74a","name":"Προς εντολές mqtt","links":["a5f8aaaf.8cba58"],"x":1615,"y":420,"wires":[]},{"id":"47f7889.5a6ed78","type":"ui_digital_display","z":"d1c0a1b2.1d74a","name":"Sev.Segment DIsplay","group":"7a0fd03f.c091f","order":5,"width":"6","height":"3","digits":"4","decimals":1,"x":1260,"y":920,"wires":[]}]